@import "../utils/utils";

.main_container {
  font-family: Montserrat;
  margin-bottom: 20px;
  @include bigScreen;

  .generalTitleBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: $blue;
    padding: 4rem 0;

    .headingParagraph {
      width: 45%;
      text-align: left;
      margin: 2rem 0;
      font-weight: bold;
      font-size: 46px;
      line-height: 56px;
      letter-spacing: -1.09524px;
    }

    .orangeElement {
      width: 20%;
      max-width: 56px;
      max-height: 86px;
      position: relative;
      top: 42px;
      left: 100px;
      margin-right: 1rem;
    }

    .paragraph {
      width: 30%;
      text-align: left;
      margin-top: 2.5rem;
      color: $card-text-color;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;

    }
  }

}


//Responsive design
@media screen and (max-width: 1700px) {
  .main_container {

    .generalTitleBlock {
      //padding: 2rem 150px;

      .headingParagraph {
        //width: 43%;
      }
    }

    //.card {
    //  padding: 0 100px;
    //}

  }
}

@media screen and (max-width: 1350px) {
  .main_container {
    //padding: 0 50px;
    @include screen1350;

    .generalTitleBlock {
      //padding: 20px 50px;
    }

    .card {
      grid-gap: 1vw;
      //padding: 0 50px;
    }


  }
}

@media screen and (max-width: 1300px) {
  .main_container {
    //padding: 0 100px;


    .generalTitleBlock {
      padding: 20px 0;

      .headingParagraph {
        //width: 46%;
      }
    }

    .card {
      padding: 0;
    }
  }

}

@media screen and (max-width: 1200px) {
  .main_container {
    @include screen1200;
  }
}

@media screen and (max-width: 1024px) {
  .main_container {
    padding: 0;
    @include screen1024;

    .generalTitleBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      line-height: 20px;
      //padding: 20px 70px;

      .headingParagraph {
        line-height: 55px;
        font-size: 4vw;
        width: 80%;
        margin: 1rem;
        text-align: center;
        border-radius: 4px;
      }

      .orangeElement {
        display: none;
      }

      .paragraph {
        line-height: 25px;
        width: 80%;
        padding: 0;
        font-size: 2vw;
        font-weight: 600;
        margin: 1rem;
        text-align: center;

      }

    }

    .card {
      //padding: 0 70px;
      grid-row-gap: 2vw;
      grid-column-gap: 5vw;
    }
  }

}

// Medium devices (landscape tablets, 768px and up)
@media only screen and (max-width: 880px) {
  .main_container {
    @include screen880;
    .navigationBar .logOut {
      margin-right: 3rem;
    }

    .card {
      grid-column-gap: 2vw;
    }
  }

  .addonsCard .cardTitle {
    font-size: 22px;
  }
}
@media only screen and (max-width: 768px) {
  .main_container {
    @include screen768;
  }
}

//Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
  .main_container {
    .generalTitleBlock {
      padding: 20px 0;
      .headingParagraph {
        line-height: 30px;
        font-size: 5vw;
        width: 80%;
        margin: 0.2rem;
        text-align: center;
        border-radius: 4px;
      }

      .orangeElement {
        display: none;
      }

      .paragraph {
        line-height: 18px;
        width: 80%;
        padding: 0;
        font-size: 3vw;
        font-weight: 600;
        margin: 1rem;
        text-align: justify;

      }
    }
  }

}
@media only screen and (max-width: 500px) {
  .main_container{
    @include screen500;
  }
}

@media screen and (max-width: 450px) {
  .main_container .generalTitleBlock {
    padding: 20px 0;
  }
}

@media screen and (max-width: 415px) {
  .main_container{
    @include screen400;
    .generalTitleBlock {
      padding: 50px 0;
    }
  }
  .headingParagraph {
    font-size: 22px;
  }
  .paragraph {
    font-size: 18vw;
  }
}

//Responsive card's position
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: start;
  grid-column-gap: 31px;
  grid-row-gap: 50px;
  margin-bottom: 50px;
  @media screen and (max-width: 1670px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1450px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6vw;
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 769px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (max-width: 580px) {
    grid-template-columns: repeat(1, 1fr);
  }


}

