@import "../utils/utils";

.addonsCard {
  background-image: url("../../assets/images/addons_card_bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  border: 10px solid $light-blue;
  font-family: Montserrat;
  padding: 15px 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
  position: relative;
  height: 33rem;

  &:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }

  .cardLogo {
    position: absolute;
    top: 1rem;
    height: 25%;
  }

  .cardBody {
    position: relative;
    top: 4rem;
    height: 75%;
  }

  .cardTitle {
    position: absolute;
    top: 0;
    color: $blue;
    font-size: 25px;
  }

  .cardDescription {
    position: absolute;
    top: 4.5rem;
    color: $card-text-color;
    font-size: 21px;
  }

  .cardsButtons {
    position: relative;
    top: 13rem;
    display: flex;
    justify-content: space-between;

    .downloadButton {
      width: 130px;

      &:after {
        content: url("../../assets/images/download_button_icon.png");
        position: relative;
        top: 2px;
        left: 5px;
        border-radius: 4px;
      }
    }
  }

  .cardSubTitle {
    font-size: 22px;
    text-transform: uppercase;
    color: $card-text-color-2;
    position: relative;
    top: 15rem;
  }

  .description {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    color: $card-text-color;
    position: relative;
    top: 13rem;
  }

  .openButton {
    width: 130px;
    height: 40px;
    border: 1px solid $card-text-color-2;
    background-color: $card-text-color-2;
    font-family: Montserrat;
    color: #FFFFFF;
    outline: none;
    font-weight: 600;
    transition: ease-in-out .3s;
    text-align: center;
  }

  .moreInfoButton {
    width: 130px;
    height: 40px;
    border: 2px solid $card-text-color-2;
    color: $card-text-color-2;
    font-family: Montserrat;
    font-weight: bold;
    background-color: #FFFFFF;
    outline: none;
    transition: ease-in-out .3s;

    &:after {
      content: url("../../assets/images/more_info_icon.png");
      position: relative;
      top: 2px;
      left: 5px;
      border-radius: 4px;
    }

    &:hover {
      -webkit-box-shadow: 6px 9px 5px 0px rgba(237, 110, 42, 0.38);
      -moz-box-shadow: 6px 9px 5px 0px rgba(237, 110, 42, 0.38);
      box-shadow: 6px 9px 5px 0px rgba(237, 110, 42, 0.38);
    }
  }
}


@media screen and (max-width: 1500px) {

  .addonsCard {
    .description {
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 1350px) {
  .addonsCard {
    .cardDescription {
      color: $card-text-color;
      font-size: 18px;
    }

    .cardTitle {
      color: $blue;
      font-size: 22px;
    }

    .cardAction {
      position: relative;
      bottom: 34px;

      .cardSubTitle {
        font-size: 20px;
        text-transform: uppercase;
        color: $card-text-color-2;
        position: relative;
        top: 40px;
      }
    }

    .description {
      display: flex;
      justify-content: space-between;
      font-size: 13px;
      color: $card-text-color;
      font-weight: lighter;
    }

    .cardsButtons {
      display: flex;
      justify-content: space-between;

      .downloadButton {
        width: 122px;
      }

      .openButton {
        width: 122px;
      }

      .moreInfoButton {
        width: 122px;

      }
    }
  }

}

@media screen and (max-width: 1200px) {
  .addonsCard .cardsButtons .moreInfoButton {
    width: 105px;
    font-size: 12px;
  }
  .addonsCard .cardsButtons .downloadButton {
    width: 105px;
    font-size: 12px;
  }
  .addonsCard .cardsButtons .openButton {
    width: 105px;
    font-size: 12px;
  }

}

@media screen and (max-width: 1024px) {
  .addonsCard {
    border: 10px solid $light-blue;

    .cardLogo {
      .logo {
        width: 80px;
        height: auto;
      }
    }

    .cardTitle {
      font-size: 18px;
    }

    .cardDescription {
      font-size: 15px;
      text-align: justify;
    }

    .cardAction {

      .cardSubTitle {
        font-size: 16px;
        text-transform: uppercase;
        color: $card-text-color-2;
        position: relative;
        top: 40px;
      }

    }

    .description {
      font-size: 15px;
      font-weight: 600;
    }

    .cardsButtons {

      .downloadButton {
        font-size: 12px;
      }

      .moreInfoButton {
        font-size: 12px;
      }

      .open {
        width: 105px;
      }
    }
  }

}

@media screen and (max-width: 700px) {
  .addonsCard {
    .description {
      font-size: 12px;
    }
  }

}






