$orange: #FF8F3E;
//$blue: #383680;
$blue: #1A4F95;
$gray: #757689;
$card-text-color: #61626A;
$light-blue: #f2f3f9;
$light-grey: #f9fafc;
$blue-black: #1E2432;
$education-text-color: #696D8C;
$white-blue: #FCFDFF;
$light_bg: #f9faff;
$dark-bg: #E8EBFE;
$card-hover-bg: #F9FAFF;
$soft-orange: #FFB178;

@mixin bigScreen {
  width: 100%;
  max-width: 1146px;
  margin: auto;
}

@mixin screen1350 {
  width: 1050px;
  margin: auto;
}

@mixin screen1200 {
  width: 950px;
  margin: auto;
}

@mixin screen1024 {
  width: 768px;
  margin: auto;
}

@mixin screen880 {
  width: 700px;
  margin: auto;
}

@mixin screen768 {
  width: 500px;
  margin: auto;
}

@mixin screen500 {
  width: 370px;
  margin: auto;
}

@mixin screen400 {
  width: 345px;
  margin: auto;
}

//@mixin screen375 {
//  width: 334px;
//  margin: auto;
//}

@mixin paragraphForBlocksOnFullPage {
  padding: 2rem 10rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.1px;
  background-color: $light_bg;
}

@mixin gradientTitleBlue {
  color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(321deg, rgba(13, 59, 124, 0.8) 40%, rgba(97, 143, 208, 0.9) 75%);
}

@mixin orangeGradient {
  background: linear-gradient(269.64deg, #FF8F3E 4.23%, #FFB178 91.19%);
}

button {
  font-family: Montserrat, sans-serif;
  box-shadow: 0 3px 6px rgba(235, 164, 82, 0.08), 0 6px 12px rgba(14, 31, 53, 0.12), 0 14px 24px rgba(14, 31, 53, 0.08);
  cursor: pointer;
  outline: none;
  border: transparent;
  font-weight: 600;
  max-width: 130px;
  width: 100%;
  height: 40px;
  transition: all .3s ease-in-out;
}
.watchCourseButton, .getAccessButton, .openButton, .takeCourseButton, .downloadButton{
  @include orangeGradient;
  color: #ffffff;

  &:hover {
    background: linear-gradient(269.64deg, $orange 4.23%, $orange 91.19%);
  }
}
.watchCourseButton, .getAccessButton {
  max-width: 170px;
  width: 100%;
  height: 40px;
}
.bookACall{
  max-width: 143px;
}
.takeCourseButton {
  max-width: 280px;
  width: 100%;
  height: 40px;
}
.moreInfoButton{
  border: 2px solid $orange;
  background-color: #ffffff;
  color: $orange;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}


@font-face {
  font-family: "Gilroy-ExtraBold";
  src: local('Gilroy-Bold'), url(../../assets/fonts/Gilroy/Gilroy-ExtraBold.otf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Light";
  src: local('Gilroy-Light'), url(../../assets/fonts/Gilroy/Gilroy-Light.otf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: local('Gilroy-Medium'), url(../../assets/fonts/Gilroy/Gilroy-Medium.woff) format('truetype');
  font-weight: 500;
  font-style: normal;
}

