@import "../../utils/utils";

.main_container {
  font-family: Montserrat;
  margin-bottom: 20px;
  @include bigScreen;

  .generalTitleBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: $blue;
    padding: 4rem 0;

    .headingParagraph {
      font-family: Gilroy-Light;
      width: 45%;
      text-align: left;
      margin: 2rem 0;
      font-size: 46px;
      letter-spacing: -0.09524px;
      line-height: 120%;
      font-weight: 400;
      @include gradientTitleBlue;
    }

    .orangeElement {
      width: 20%;
      max-width: 56px;
      max-height: 86px;
      position: relative;
      top: 42px;
      left: 0;
      margin-right: 1rem;
    }

    .paragraph {
      width: 39%;
      text-align: left;
      margin-top: 2.5rem;
      color: $card-text-color;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;

    }
  }

}

.sortField {
  display: grid;
  grid-template-columns: 73px 300px;
  grid-column-gap: 10px;
  width: 100%;
  max-width: 384px;
  position: relative;
  margin-bottom: 30px;
  z-index: 1;
  transition: all 275ms;

  .title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: $card-text-color;
    align-self: center;
  }

  .sortBox {
    border: 1px solid #E3E3E3;
    width: 100%;
    max-width: 300px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $blue;
    transition: all 275ms;
    cursor: pointer;
  }

  .arrow {
    position: absolute;
    right: 12px;
  }

  b {
    padding-left: 7px;
  }


  .customSelect {
    position: absolute;
    top: 100%;
    left: 84px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    right: 2px;

    .row {
      padding: 0 20px;
      height: 45px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #fefefe;
      font-size: 16px;
      line-height: 20px;

      &:hover {
        background: $light_bg;
      }
    }

    .chosen {
      color: $blue;
      font-weight: 700;
      background: $light_bg;
    }
  }
}


@media screen and (max-width: 1350px) {
  .main_container {
    @include screen1350;

    .generalTitleBlock {
      .headingParagraph {
        width: 48%;
      }

      .orangeElement {
        left: 46px;
      }

      .paragraph {
        width: 30%;
      }
    }

    .card {
      grid-gap: 1vw;
    }
  }
}

@media screen and (max-width: 1300px) {
  .main_container {
    .generalTitleBlock {
      padding: 20px 0;
    }

    .card {
      padding: 0;
    }
  }

}

@media screen and (max-width: 1200px) {
  .main_container {
    @include screen1200;

    .generalTitleBlock {
      .headingParagraph {
        width: 58%;
      }

      .orangeElement {
        left: 0;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .main_container {
    padding: 0;

    .generalTitleBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      line-height: 20px;
      padding-top: 30px;
      padding-bottom: 38px;

      .headingParagraph {
        font-size: 40px;
        line-height: 130%;
        width: 60%;
        margin-top: 0;
        margin-bottom: 27px;
        text-align: center;
        border-radius: 4px;
      }

      .orangeElement {
        display: none;
      }

      .paragraph {
        width: 86%;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        text-align: center;
      }

    }

    .card {
      grid-row-gap: 20px;
      grid-column-gap: 21px;
    }
  }

}

@media screen and (max-width: 1000px) {
  .main_container {
    @include screen1024;
  }
}

// Medium devices (landscape tablets, 768px and up)
@media only screen and (max-width: 880px) {
  .main_container {
    @include screen880;

    .navigationBar .logOut {
      margin-right: 3rem;
    }

    .card {
      grid-column-gap: 2vw;
    }
  }

  .addonsCard .cardTitle {
    font-size: 22px;
  }
}

@media only screen and (max-width: 768px) {
  .main_container {
    @include screen768;

    .generalTitleBlock {
      .headingParagraph {
        width: 100%;
      }
    }
  }
}

//Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
  .main_container {
    .generalTitleBlock {
      padding: 20px 0;

      .headingParagraph {
        line-height: 30px;
        font-size: 5vw;
        width: 80%;
        margin-bottom: 29px;
        text-align: center;
        border-radius: 4px;
      }

      .orangeElement {
        display: none;
      }

      .paragraph {
        line-height: 18px;
        width: 80%;
        padding: 0;
        font-size: 3vw;
        font-weight: 600;
        margin: 0;

      }
    }
  }

}

@media only screen and (max-width: 500px) {
  .main_container {
    @include screen500;

    .generalTitleBlock {
      .headingParagraph {
        font-size: 28px;
        line-height: 130%;
        width: 88%;
      }

      .paragraph {
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        width: 99%;
      }
    }


  }
  .sortField {
    display: grid;
    grid-template-columns: 1fr;

    .title {
      padding-bottom: 19px;
    }

    .sortBox {
      max-width: 344px;
      padding-left: 20px;
    }

    .customSelect {
      left: 0;
    }
  }
}

@media screen and (max-width: 450px) {
  .main_container .generalTitleBlock {
    padding: 30px 0;
  }
}

@media screen and (max-width: 415px) {
  .main_container {
    @include screen400;
  }
}

@media screen and (max-width: 375px) {
  .main_container {
    @include screen400;


  }
}

//Responsive card's position
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: start;
  grid-column-gap: 33px;
  grid-row-gap: 51px;
  margin-bottom: 50px;
  @media screen and (max-width: 1670px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1450px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1300px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6vw;
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 769px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (max-width: 580px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media print {
  .card {
    display: grid;
    grid-template-columns: 1fr;
    break-after: page;
    grid-row-gap: 10px;
  }
  .main_container{
    .generalTitleBlock {
      display: grid;
      grid-template-columns: 1fr;

      .headingParagraph {
        color: $blue;
        width: 100%;
        font-size: 30px;
      }

      .orangeElement {
        display: none;
      }

      .paragraph {
        width: 100%;
        font-size: 15px;
      }
    }
  }

  .sortField{
    display: none;
  }

}


