@import "src/scss/utils/utils.scss";

.dropdownListMobile {
  width: 300px;
  background: #ffffff;
  padding-top: 25px;
  padding-left: 20px;
  display: none;
  .active{
    border-bottom: none;
  }

  .dropdownItem{
    font-size: 12px;
    line-height: 15px;
    text-transform: capitalize;
    font-weight: 700;
    color: $education-text-color;
    display: flex;
    align-items: center;

    a{
      color: $education-text-color;
      text-transform: initial;
      padding-left: 8px;
    }
  }

}
.isOpen{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
