@import "src/scss/utils/utils.scss";

.dropdownListMobile {
  width: 300px;
  background: #ffffff;
  padding-top: 25px;
  padding-left: 20px;
  display: none;

  .active {
    border-bottom: none;
  }

  .dropdownItem {
    font-size: 13px;
    line-height: 15px;
    text-transform: capitalize;
    font-weight: 700;
    color: $education-text-color;
    display: flex;
    align-items: center;

    a {
      color: $education-text-color;
      text-transform: initial;
    }

      img{
        margin-right: 12px;
      }


    span {
      color: $blue;
    }
  }


}


.isOpen {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}


  .arrowTest{
    padding-left: 10px;
    &::after {
      content: url("../../../assets/images/arrow.svg");
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
.arrowTestOpen{
  padding-left: 10px;
  &::after {
    content: url("../../../assets/images/arrowOpened.svg");
    transform: rotate(180deg);
    transition: all .35s;
  }
}

