@import "../../utils/utils";

.sideDrawer {
  height: 270px;
  background: white;
  position: absolute;
  top: 59px;
  left: 0;
  max-width: 768px;
  width: 100%;
  z-index: 10000;
  transform: translateX(-100%);


    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
    }

    li {
      color: $orange;
      margin: 1rem 0;
    }
    .active {
      border-bottom: 3px solid $orange;
    }
    .nav-link{
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
    }
    .bookACall {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      border: 1px solid $orange;
      color: #ffffff;
      background-color: $orange;
      padding: 7px 12.3px;
      transition: 0.2s;
      letter-spacing: 0.5px;
      z-index: 1000;
      height: 30px;
      width: 143px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='8' viewBox='0 0 19 8' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 3.99069L15 0V3H0V5H15V8L17.993 5H18V4.99302L19 3.99069Z' fill='white'/%3E%3C/svg%3E");
      background-position: 91%;
      background-repeat: no-repeat;
    }
    .logOut{
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      color: $education-text-color;
      display: flex;
    }
}
.open{
  transform: translateX(0);
}

@media screen and (min-width: 769px) {
  .sideDrawer {
    display: none;
  }
}

@media screen and (max-width: 880px) {
  .sideDrawer ul{
    @include screen880;
  }
}
@media screen and (max-width: 700px) {
  .sideDrawer ul{
    @include screen768;
  }
}
@media only screen and (max-width: 500px) {
  .sideDrawer ul {
    @include screen500;
  }
}
@media screen and (max-width: 415px) {
  .sideDrawer ul{
    @include screen400;
    padding-left: 0;
  }
}
