@import "../../utils/utils";

.sideDrawer {
  background: white;
  position: fixed;
  top: 72px;
  left: 0;
  max-width: 1000px;
  width: 100%;
  z-index: 10000;
  transform: translateX(-100%);
  max-height: 80%;
  overflow: auto;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    padding-left: 0;
  }

  li {
    color: $orange;
  }

  .active {
    border-bottom: 3px solid $orange;
  }

  .nav-link {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
  }
  .contactList{
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: $education-text-color;
    margin: 0;
  }
  .sideDrawerButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: baseline;
    grid-gap: 14px;
    .bookACall {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      border: 1px solid $orange;
      color: #ffffff;
      background-color: $orange;
      transition: 0.2s;
      letter-spacing: 0.5px;
      z-index: 1000;
      height: 30px;
      width: 130px;
    }
    .goToWebsiteButton{
      height: 30px;
      max-width: 166px;
      width: 100%;
      box-shadow: none;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.4px;
    }
  }



  .logOut {
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: $education-text-color;
    display: grid;
    grid-template-columns: 0.3fr 7fr 1fr;
    align-items: center;
    justify-items: flex-start;
    width: 100%;
    .userMail{
      font-size: 12px;
      line-height: 15px;
      color: $blue;
      margin: 0;
    }
  }
}

.open {
  transform: translateX(0);
  padding-bottom: 31px;
  padding-top: 25px;
}

@media screen and (max-width: 1000px) {
  .sideDrawer ul {
    @include screen1024;
  }
}

@media screen and (min-width: 768px) {
  .sideDrawer {
    top: 59px;
  }
}
@media screen and (max-width: 768px) {
  .sideDrawer {
    top: 59px;
  }
}

@media screen and (max-width: 880px) {
  .sideDrawer ul {
    @include screen880;
  }
}

@media screen and (min-width: 717px) {
  .sideDrawer ul {
    padding-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .sideDrawer ul {
    @include screen768;
  }
}

@media only screen and (max-width: 500px) {
  .sideDrawer ul {
    @include screen500;
  }
}

@media screen and (max-width: 415px) {
  .sideDrawer ul {
    @include screen400;
    padding-left: 0;
  }
}
