@import "../utils/utils";

$color-primary: #ed6e2a;
$color-dim: #6c6d6d;
$spacing: 50px;
$radius: 4px;
$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;

.commonStyles {
  padding: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}

.addonFullPage {
  p {
    color: $card-text-color;
    font-size: 19px;
  }

  h2 {
    font-size: 44px;
    text-align: center;
    margin: 0;
  }

  color: $blue;
  font-family: Montserrat;
}

.useInfoMobile {
  display: none;
}

.headerWrapper {
  background-image: url("../../assets/images/addon_full_page_header_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-content: start;
  grid-gap: 6vw;
  color: #f2f2f2;
  padding: 150px 200px;

  .headerLeftSide {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .virtualMashineWarning {
      .downloadButton {
        margin-bottom: 2rem;
      }

      .virtualMashineWarningparagraph {
        padding-bottom: 2rem;
        font-weight: bolder;
      }
    }

    h1 {
      width: 100%;
      font-weight: 900;
      font-size: 3vw;
      line-height: 70px;
      margin: 2rem 0;
      color: #FFFFFF;
      text-align: left;

    }

    p {
      color: #FFFFFF;
    }

    a {
      text-align: left;
      margin-bottom: 1rem;
    }
  }

  .headerRightSide {
    position: relative;

    .videoTutorial {
      border: 10px solid #202d62;
      border-radius: 10px;
      background-color: #FFFFFF;
      box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.3);

      img {
        position: relative;
        top: 20px;
        left: 23%;
        width: 50%;
      }
    }

    img {
      width: 100%;
      max-width: 450px;
    }
  }
}

.downloadButton {
  width: 122px;
  font-weight: bold;
}

.openButton {
  width: 122px;
  height: 40px;
  border: 1px solid $card-text-color-2;
  background-color: $card-text-color-2;
  font-family: Montserrat;
  color: #FFFFFF;
  outline: none;
  transition: ease-in-out .3s;
  text-align: center;
  font-weight: bold;
}

.topInfo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-top: 4rem;
  padding: 0 300px;

}

.aboutInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 10rem;
  background-color: #F2F3F9;
}

.installInfo {
  background-color: #F2F3F9;
  padding: 1rem 10rem;
}

.installationGuide {
  color: $orange;
}

.rowKey {
  color: $card-text-color-2;
}

.pageTables {
  text-align: left;
}

.useInfo {
  margin: 2rem 0;
  font-family: Montserrat;
  padding: 0 300px;

  h2 {
    text-align: center;
    margin: 2rem 0 2.5rem;
  }

  .timeline {
    border-left: $line solid $color-primary;
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding-left: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;

    .event {
      padding-bottom: ($spacing * 0.5);
      margin-bottom: $spacing;
      position: relative;
      display: flex;

      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }

      &:before, &:after {
        color: $color-primary;
        text-transform: uppercase;
        position: absolute;
        display: block;
        top: 0;
      }

      &:before {
        box-shadow: 0 0 0 4px $color-primary;
        left: -61.85px;
        background: #FFFFFF;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        content: "";
        top: 5px;
      }

      .stepDescription {
        max-width: 25rem;
        width: 100%;

        .stepDescP {
          margin-right: 1rem;
        }
      }

      .stepTitle {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;

      }

      .stepImage {
        width: 100%;
        max-width: 875px;
        height: auto;
      }
    }
  }

}

.additionalInfo {
  padding: 0 300px;

  h2 {
    margin-top: 5rem;
  }
}

.technicalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
  background-color: #F2F3F9;

  ul {
    padding: 0;
  }

}

.creditionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
  background-color: #F2F3F9;

  ul {
    padding: 0;
    margin-left: -2rem;
  }
}

.bottomInfo {
  padding: 20rem 300px;
  background-image: url("../../assets/images/bottom_info_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.downloadInfo {
  margin-bottom: 15rem;

  h2 {
    margin-bottom: 1rem;
  }


  .down {
    max-width: 250px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 1rem;
  }
}

.helpInfo {

  h2 {
    margin-bottom: 1rem;
  }

  a {
    margin: 1rem;
    color: $card-text-color-2;
    font-size: 19px;
  }

  img {
    width: 31px;
  }

  .helpList {
    list-style-type: none;

    & .mailItem {
      padding-left: 25px;
      background-image: url("../../assets/images/mail.svg");
      background-position: 0 0;
      background-size: 2rem;
      background-repeat: no-repeat;
      font-weight: normal;
      padding-bottom: 25px;
    }

    & .skypeItem {
      padding-left: 19px;
      background-image: url("../../assets/images/skype.svg");
      background-position: 0 0;
      background-size: 1.8rem;
      background-repeat: no-repeat;
      font-weight: normal;
      padding-bottom: 25px;
    }

  }

}

.helpInfo ul {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1700px) {
  .header {
    padding: 120px 200px;
  }
  .header .headerLeftSide h1 {
    font-size: 4vw;
  }
  .header .headerLeftSide .virtualMashineWarning .virtualMashineWarningparagraph {
    font-size: 19px;
  }
}

@media screen and (max-width: 1500px) {
  .topInfo {
    padding: 0 100px;
  }
  .useInfo {
    padding: 0 100px;
  }
  .additionalInfo {
    padding: 0 100px;
  }
}

@media screen and (max-width: 1350px) {

  .header {
    padding: 120px 100px;
  }
  .topInfo {
    padding: 0 100px;
  }
  .useInfo {
    padding: 0 100px;
  }
  .additionalInfo {
    padding: 0 100px;
  }
  .downloadInfo {
    padding-top: 12rem;
    margin-bottom: 6rem;
  }
  .bottomInfo {
    padding: 1rem 100px;
  }

}

@media screen and (max-width: 1024px) {
  .header {
    padding: 100px 70px;
  }
  .topInfo {
    padding: 0 70px;
  }
  .useInfo {
    padding: 0 70px;
  }
  .additionalInfo {
    padding: 0 70px;
  }
  .bottomInfo {
    padding: 0 70px;
  }
  .helpInfo {
    margin-bottom: 0;
    padding-bottom: 10rem;
  }
  .downloadInfo {
    margin-bottom: 2rem;

  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 50px 35px 125px;
    grid-template-columns: 1fr;

    .headerLeftSide {
      align-items: center;

      h1 {
        text-align: center;
      }
    }

    .headerRightSide {
      padding: 5rem;
    }
  }
  .bottomInfo {
    padding: 0 35px;
  }
  .topInfo {
    padding: 0 35px;
  }
  .aboutInfo {
    padding: 1rem 3rem;
  }
  .installInfo {
    padding: 1rem 3rem;
  }
  .useInfo {
    display: none;
  }
  .useInfoMobile {
    display: block;
    padding: 0 35px;

    li {
      margin-bottom: 5rem;
    }

    .stepTitle {
      color: $color-primary;
      font-size: 30px;
      font-weight: bold;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 690px;
    }

    ul {
      padding: 0;
      margin: 20px 0;
    }
  }
  .blockWithPlayer {
    .reactPlayer {
      width: 230px;
      height: auto;
    }
  }
  .helpInfo {
    a {
      font-size: 17px;
    }
  }

  .additionalInfo, .creditionalInfo {
    padding: 0 35px;
  }
  .downloadInfo {
    margin-bottom: 4rem;
  }
  .bottomInfo {
    background-image: none;
  }
}

@media screen and (max-width: 415px) {

  .addonFullPage {
    p {
      font-size: 14px;
    }

    h2 {
      font-size: 22px;
    }
  }
  .header {
    grid-template-columns: 1fr;
    align-content: start;

    .headerRightSide {
      display: none;
    }

  }
  .header .headerLeftSide h1 {
    font-size: 6vw;
    text-align: center;
  }
  .header .headerLeftSide {
    align-items: center;
  }
  .header .headerLeftSide a {
    text-align: center;
    margin-bottom: 2rem;
  }
  .virtualMashineWarning {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .useInfo {
    display: none;
  }
  .useInfoMobile {
    display: block;
    padding: 0 20px;

    li {
      margin-bottom: 1rem;
    }

    .stepTitle {
      color: $color-primary;
      font-size: 14px;
      font-weight: bold;
    }


  }
  .topInfo {
    padding: 0;
    margin-bottom: 2rem;
  }

  .helpInfo {
    a {
      margin: 1rem;
      color: $card-text-color-2;
      font-size: 12px;
    }

    ul {
      display: flex;
      justify-content: center;
      padding: 0;
      margin-left: 18px;
    }
  }
  .bottomInfo {
    background-image: none;
  }
  .downloadInfo {
    margin-bottom: 0;
  }
  .additionalInfo {
    padding: 0;
  }
  .creditionalInfo ul {
    padding: 0;
    margin-left: 0;
  }

}
