@import "../utils/utils";

@mixin generalSettingsForBlock {
  text-align: center;
}

.fullPageContent {
  display: grid;
  grid-template-columns: 1fr;
}
.addonFullPage {
  color: $blue;
  font-family: Montserrat;
  p {
    color: $card-text-color;
    font-size: 19px;
  }

  h2 {
    font-size: 46px;
    line-height: 56px;
    letter-spacing: -0.2px;
    text-align: center;
    padding: 41px 0;
    margin: 0;
  }
}
.useInfoMobile {
  display: none;
}

.headerWrapper {
  background-image: url("../../assets/images/addon_full_page_header_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #f2f2f2;
  padding: 150px 0;
  @include bigScreen;
  grid-column-gap: 50px;

  .headerLeftSide {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    position: relative;
    .chargeMessage {
      margin-top: 2rem;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
    }

    .virtualMashineWarning {
      text-align: left;
      .downloadButton {
        margin-bottom: 2rem;
      }

      .virtualMashineWarningparagraph {
        padding-bottom: 2rem;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }
    }

    h1 {
      width: 100%;
      margin: 1rem 0 2rem;
      color: #ffffff;
      text-align: left;
      font-weight: 800;
      font-size: 46px;
      line-height: 56px;
      letter-spacing: -1.09524px;
    }

    p {
      color: #ffffff;
    }

    a {
      text-align: left;
      margin-bottom: 1rem;
    }
  }

  .headerRightSide {
    position: relative;

    .videoTutorial {
      background-image: url("../../assets/images/addon-white-square-with-border.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 554px;
      height: 400px;

      img {
        position: relative;
        top: 19%;
        left: 0;
        max-width: 554px;
        width: 100%;
        height: 65%;
      }
    }
  }
}

.downloadButton {
  width: 122px;
  font-weight: bold;
}

.openButton {
  width: 122px;
  font-weight: bold;
}

.topInfo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-top: 4rem;
}

.aboutInfo {
  @include generalSettingsForBlock;
  @include bigScreen;

  p {
    @include paragraphForBlocksOnFullPage;
    padding: 40px 120px;
  }
  .aboutInfoTechnicalBlock{
    background-color: #FFFFFF;
    text-align: center;
    width: 100%;
    max-width: 688px;
    margin: auto;

    ul{
      padding: 5px 0 5px 41px;
      li{
        padding-left: 22px;
        background: url("../../assets/images/ellipse.svg") no-repeat left center;
        .rowKey {
          color: $blue;
          font-weight: 700;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.1px;
        }
        p{
          margin: 11px 0;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.1px;
          background-color: #FFFFFF;
          text-align: left;
          padding: 0;
        }
      }
    }
  }
  .technicalInfo {
    margin-top: 2rem;
    ul {
      padding-left: 2rem;

    }
    p {
      padding: 0;
      text-align: left;
      background-color: #ffffff;
    }
  }
}

.installInfo {
  @include generalSettingsForBlock;
  @include bigScreen;
  p {
    @include paragraphForBlocksOnFullPage;
    margin-top: 0;
  }
  .installationGuide {
    margin: 0 5px;
    color: $orange;
    &:hover {
      text-decoration: underline;
    }
  }

  .blockWithPlayer {
    background-color: #f3f2f9;

    .playerWrapper {
      padding-bottom: 50px;
    }
  }
}

.useInfo {
  margin: 2rem 0;
  font-family: Montserrat;
  padding-bottom: 90px;
  @include bigScreen;

  h2 {
    text-align: center;
  }

  .timeline {
    border-left: 4px solid $orange;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding-left: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;

    .event {
      padding-bottom: (50px * 0.5);
      margin-bottom: 50px;
      position: relative;
      display: flex;

      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }

      &:before,
      &:after {
        color: $orange;
        text-transform: uppercase;
        position: absolute;
        display: block;
        top: 0;
      }

      &:before {
        left: -67px;
        content: url("../../assets/images/point.svg");
      }

      .stepDescription {
        max-width: 22rem;
        width: 100%;

        .stepDescP {
          margin-right: 30px;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          letter-spacing: -0.2px;
        }
      }

      .stepTitle {
        color: $orange;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 700;
      }

      .stepImage {
        width: 100%;
        max-width: 1700px;
        height: auto;
      }
    }
  }
}

.wrapperForBottom {
  padding: 80px 0 0 0;
  background-image: url("../../assets/images/top-lines.svg");
  background-color: #f2f3f9;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.additionalInfo {
  margin: 0;
  @include bigScreen;
}

.technicalInfo,
.creditionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  //margin: 20px auto !important;
  background-color: #ffffff;
  @include bigScreen;

  ul {
    padding: 0;

  }
  li {
    padding: 0 0 0 22px;
    background: url("../../assets/images/ellipse.svg") no-repeat;
    background-position: 1% 48%;
  }
  .noListItem {
    background-image: none;
  }

  p {
    margin: 10px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
  }
  .rowKey {
    color: $blue;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
  }
}

.bottomWrapper {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-position: bottom;
  position: relative;
}
.bottomInfo {
  .blockWithCreds{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 80px;
    @include bigScreen;
  }
  @include bigScreen;
  h2{
    padding-bottom: 40px;
    padding-top: 0;
  }
  p{
    margin: 0 0 6px;
  }
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 80px;
}

.downloadInfo {
  @include generalSettingsForBlock;
  @include bigScreen;
}

.helpInfo {
  @include generalSettingsForBlock;
  @include bigScreen;

  a {
    margin: 1rem;
    color: $orange;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    @include generalSettingsForBlock;
    display: flex;
    justify-content: center;
  }
  p {
    text-align: center;
  }

  img {
    width: 31px;
  }

  .helpList {
    list-style-type: none;
    margin-top: 40px;
    margin-bottom: 0;

    & .mailItem {
      padding-left: 25px;
      background-image: url("../../assets/images/mail.svg");
      background-position: 0 0;
      background-size: 11%;
      background-repeat: no-repeat;
      font-weight: normal;
      padding-bottom: 25px;
    }

    & .skypeItem {
      padding-left: 19px;
      background-image: url("../../assets/images/skype.svg");
      background-position: 0 0;
      background-size: 16%;
      background-repeat: no-repeat;
      font-weight: normal;
      padding-bottom: 25px;
    }
  }
}

@media screen and (max-width: 1700px) {
  .header {
    .headerLeftSide {
      h1 {
        font-size: 4vw;
      }
      .virtualMashineWarning {
        .virtualMashineWarningparagraph {
          font-size: 19px;
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .main_container {
    .generalTitleBlock {
      .headingParagraph {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .header {
    @include screen1350;
  }
  .topInfo,
  .useInfo,
  .additionalInfo,
  .aboutInfo,
  .installInfo {
    @include screen1350;
  }
  .bottomInfo {
    padding: 1rem 0px;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    @include screen1200;
  }
  .topInfo,
  .useInfo,
  .additionalInfo,
  .aboutInfo,
  .installInfo {
    @include screen1200;
  }
  .bottomInfo{
    .blockWithCreds{
      @include screen1200;
    }
  }
}
@media screen and (max-width: 1024px) {
  .addonFullPage{
    h2{
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
      letter-spacing: -0.2px;
    }
    p{
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.1px;
    }
  }
  .main_container .generalTitleBlock .headingParagraph {
    width: 90%;
  }
  .header {
    //@include screen1024;
    grid-column-gap: 0;
    .headerLeftSide{
      padding-left: 80px;
      h1{
        font-weight: 800;
        font-size: 40px;
        line-height: 130%;
        letter-spacing: -1.09524px;
      }
    }
    .headerRightSide {
      .videoTutorial {
        width: 384px;
        height: 316px;
      }
    }
  }
  .aboutInfo{
    p{
      padding: 40px 32px;
    }
    .aboutInfoTechnicalBlock{
      ul{
        li{
          p{
            font-size: 18px;
            line-height: 28px;
            letter-spacing: -0.1px;
          }
        }
      }
    }
  }
  .topInfo,
  .useInfo,
  .aboutInfo,
  .installInfo,
  .additionalInfo,
  .bottomInfo {
    //@include screen1024;
  }
  .helpInfo {
    margin-bottom: 0;
  }
  .header .headerRightSide .videoTutorial img {
    top: 12%;
  }
}
@media screen and (max-width: 1000px) {
  .topInfo,
  .useInfo,
  .aboutInfo,
  .installInfo,
  .additionalInfo,
  .bottomInfo,
  .header{
    @include screen1024;
  }
  .bottomInfo{
    .blockWithCreds{
      @include screen1024;
    }
  }
}
@media screen and (max-width: 880px) {
  .header {
    @include screen880;
  }
  .topInfo,
  .useInfo,
  .aboutInfo,
  .installInfo,
  .additionalInfo,
  .bottomInfo {
    @include screen880;
  }
  .bottomInfo{
    .blockWithCreds{
      @include screen880;
    }
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 50px 35px 40px;
    grid-template-columns: 1fr;
    @include screen768;

    .headerLeftSide {
      align-items: center;

      h1 {
        text-align: center;
        font-size: 5vw;
      }
      .virtualMashineWarning {
        text-align: center;
        .virtualMashineWarningparagraph{
          font-size: 14px;
          line-height: 17px;
        }


      }
    }

    .headerRightSide {
      padding: 5rem;
    }
  }
  .bottomInfo,
  .topInfo,
  .useInfoMobile,
  .additionalInfo,
  .creditionalInfo {
    @include screen768;
  }
  .aboutInfo {
    padding: 1rem 0;
    @include screen768;

    p {
      padding: 30px 20px 35px;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.1px;
    }
  }
  .bottomInfo{
    .blockWithCreds{
      @include screen768;
    }
  }
  .installInfo {
    padding: 1rem 0;
    @include screen768;

    p {
      padding: 30px 20px;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      margin-bottom: 0;
    }
  }
  .technicalInfo {
    ul {
      margin-left: 1rem;
    }
    li{
      background-position: 1% 20%;
    }
  }
  .creditionalInfo {
    padding: 0;
    margin-top: 2rem;
    ul {
      margin-left: 1rem;
    }
  }
  .useInfo {
    display: none;
  }
  .useInfoMobile {
    display: block;
    @include screen768;

    li {
      margin-bottom: 5rem;
    }

    .stepTitle {
      color: $orange;
      font-size: 16px;
      line-height: 130%;
      font-weight: 400;
      letter-spacing: -0.2px;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 690px;
    }

    ul {
      padding: 0;
      margin: 20px 0;
    }
  }
  .blockWithPlayer {
    .reactPlayer {
      width: 290px;
      height: auto;
    }
  }
  .helpInfo {
    a {
      font-size: 17px;
    }

    p {
      margin-top: 0;
    }
  }
  .header .headerRightSide .videoTutorial {
    display: none;
  }
  .downloadInfo {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 570px) {
  .main_container .generalTitleBlock .headingParagraph {
    width: 76%;
  }
  .addonFullPage {
    h2 {
      font-size: 22px;
      padding: 0 0 1rem;
    }
    p {
      font-size: 16px;
      margin-top: 0;
    }
  }
  .useInfoMobile{
    ul{
      li{
        .stepTitle{
          font-size: 18px;
          line-height: 22px;
          letter-spacing: -0.2px;
          text-transform: uppercase;
          margin-bottom: 7px;

        }
        p{
          font-size: 16px;
          line-height: 130%;
          letter-spacing: -0.2px;
          font-weight: 400;
          margin-top: 7px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 520px) {
  .addonFullPage{
    h2{
      font-size: 28px;
      line-height: 34px;
      letter-spacing: -0.2px;
    }

  }
  .main_container .generalTitleBlock .headingParagraph {
    width: 80%;
  }
  .header {
    grid-template-columns: 1fr;
    align-content: start;
    padding: 40px 0 93px;

    .headerRightSide {
      display: none;
    }

    .headerLeftSide {
      align-items: center;
      padding-left: 0;

      h1 {
        font-weight: 800;
        font-size: 28px;
        line-height: 130%;
        text-align: center;
        letter-spacing: -1.09524px;
      }

      a {
        text-align: center;
        margin-bottom: 2rem;
      }
      .chargeMessage{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
      }
    }
  }
  .aboutInfo{
    p{

    }
  }

  .virtualMashineWarning {
    align-items: center;
    display: flex;
    flex-direction: column;

  }

  .useInfo {
    display: none;
  }
  .useInfoMobile {
    display: block;

    li {
      margin-bottom: 1rem;
    }

    .stepTitle {
      color: $orange;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .topInfo {
    padding: 0;
    margin-bottom: 2rem;
  }

  .helpInfo {
    a {
      margin: 1rem;
      color: $orange;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.1px;
    }

    .helpList {
      .skypeItem,
      .mailItem {
        padding-left: 0;
        background-size: 8%;
      }
      .mailItem {
        background-position: 10% 4px;
      }
      .skypeItem {
        background-position: 24% 2px;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0;
      margin-left: 18px;
    }
  }
  .downloadInfo {
    margin-bottom: 0;
  }
  .additionalInfo {
    padding-top: 56px;
  }
  .creditionalInfo {
    ul {
      padding: 0 19px;
    }
  }
  .bottomInfo{
    grid-row-gap: 60px;
  }
}
@media only screen and (max-width: 500px) {
  .header,
  .bottomInfo,
  .topInfo,
  .useInfoMobile,
  .additionalInfo,
  .creditionalInfo,
  .aboutInfo,
  .installInfo {
    @include screen500;
  }
  .bottomInfo{
    .blockWithCreds{
      @include screen500;
    }
  }
  .creditionalInfo {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .header,
  .bottomInfo,
  .topInfo,
  .useInfoMobile,
  .additionalInfo,
  .creditionalInfo,
  .aboutInfo,
  .installInfo {
    @include screen400;
  }
  .bottomInfo{
    .blockWithCreds{
      @include screen400;
    }
  }
  .technicalInfo, .creditionalInfo{
    ul {
      padding: 10px;
      //padding-right: 81px;
    }
    li{
      background-position: 1% 9px;
    }
  }
  .technicalInfo{
    .rowKey{
      font-size: 16px;
      line-height: 130%;
      letter-spacing: -0.1px;
    }
  }
  .aboutInfo{
    .aboutInfoTechnicalBlock{
      ul{
        padding: 5px 0 5px 18px;
        li{
          background-position: 1% 9px;
          p{
            font-size: 14px;
            line-height: 130%;
            letter-spacing: -0.1px;
          }
          .rowKey{
            font-size: 14px;
            line-height: 130%;
            letter-spacing: -0.1px;
          }
        }
      }
    }
  }
  .creditionalInfo {
    margin-top: 2rem;
    ul {
      margin-left: 17px;
      padding: 10px;
    }
  }
}
