@import "../utils/utils";

@mixin generalSettingsForBlock {
  text-align: center;
}

.fullPageContent {
  display: grid;
  grid-template-columns: 1fr;
}
.addonFullPage {
  color: $blue;
  font-family: Montserrat;
  p {
    color: $card-text-color;
    font-size: 19px;
    margin-top: 0;
  }

  h2 {
    font-size: 44px;
    text-align: center;
    padding: 41px 0;
    margin: 0;
  }
}
.useInfoMobile {
  display: none;
}

.headerWrapper {
  background-image: url("../../assets/images/addon_full_page_header_bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #f2f2f2;
  padding: 150px 0;
  @include bigScreen;
  grid-column-gap: 50px;

  .headerLeftSide {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    position: relative;
    .chargeMessage {
      margin-top: 2rem;
    }

    .virtualMashineWarning {
      text-align: left;
      .downloadButton {
        margin-bottom: 2rem;
      }

      .virtualMashineWarningparagraph {
        padding-bottom: 2rem;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
      }
    }

    h1 {
      width: 100%;
      margin: 1rem 0 2rem;
      color: #ffffff;
      text-align: left;
      font-weight: 800;
      font-size: 46px;
      line-height: 56px;
      letter-spacing: -1.09524px;
    }

    p {
      color: #ffffff;
    }

    a {
      text-align: left;
      margin-bottom: 1rem;
    }
  }

  .headerRightSide {
    position: relative;

    .videoTutorial {
      background-image: url("../../assets/images/addon-white-square-with-border.svg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 554px;
      height: 400px;

      img {
        position: relative;
        top: 19%;
        left: 0;
        max-width: 554px;
        width: 100%;
        height: 65%;
      }
    }
  }
}

.downloadButton {
  width: 122px;
  font-weight: bold;
}

.openButton {
  width: 122px;
  font-weight: bold;
}

.topInfo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-top: 4rem;
}

.aboutInfo {
  @include generalSettingsForBlock;
  @include bigScreen;

  p {
    @include paragraphForBlocksOnFullPage;
  }
  .technicalInfo{
    margin-top: 2rem;
    ul{
      padding-left: 2rem;
    }
    p{
      padding: 0;
      text-align: left;
      background-color: #FFFFFF;
    }
  }


}

.installInfo {
  @include generalSettingsForBlock;
  @include bigScreen;
  p {
    @include paragraphForBlocksOnFullPage;
    margin-top: 0;
  }
  .installationGuide {
    margin: 0 5px;
    color: $orange;
    &:hover {
      text-decoration: underline;
    }
  }

  .blockWithPlayer {
    background-color: #f3f2f9;

    .playerWrapper {
      padding-bottom: 50px;
    }
  }
}

.rowKey {
  color: $blue;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.1px;
}
.rowValue {
  color: $blue;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.1px;
}

//.pageTables {
//  display: flex;
//  align-items: center;
//  text-align: left;
//
//  p {
//    //text-align: left;
//    padding: 0;
//    margin: 5px 0 0 0;
//    background: #fff;
//  }
//}

.useInfo {
  margin: 2rem 0;
  font-family: Montserrat;
  padding-bottom: 90px;
  @include bigScreen;

  h2 {
    text-align: center;
  }

  .timeline {
    border-left: 4px solid $orange;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding-left: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;

    .event {
      padding-bottom: (50px * 0.5);
      margin-bottom: 50px;
      position: relative;
      display: flex;

      &:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
      }

      &:before,
      &:after {
        color: $orange;
        text-transform: uppercase;
        position: absolute;
        display: block;
        top: 0;
      }

      &:before {
        left: -67px;
        content: url("../../assets/images/point.svg");
      }

      .stepDescription {
        max-width: 22rem;
        width: 100%;

        .stepDescP {
          margin-right: 30px;
          font-weight: normal;
          font-size: 19px;
          line-height: 23px;
          letter-spacing: -0.2px;
        }
      }

      .stepTitle {
        color: $orange;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
      }

      .stepImage {
        width: 100%;
        max-width: 1700px;
        height: auto;
      }
    }
  }
}

.wrapperForBottom {
  padding: 80px 0 0 0;
  background-image: url("../../assets/images/top-lines.svg");
  background-color: #f2f3f9;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.additionalInfo {
  margin: 0;
  @include bigScreen;
}

.technicalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  //margin: 20px auto !important;
  background-color: #ffffff;
  @include bigScreen;

  ul {
    padding: 0;

  }
  li {
    padding: 0 0 0 22px;
    background-position: 3px 14px;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/ellipse.svg");
  }
  .noListItem{
    background-image: none;
  }

}

.creditionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  @include bigScreen;
  margin-top: 2rem;

  ul {
    padding: 0;
    margin-left: -2rem;

    li {
      padding: 3px 0 0 22px;
      background-position: 3px 14px;
      background-repeat: no-repeat;
      background-image: url("../../assets/images/ellipse.svg");
    }
  }
}
.bottomWrapper {
  background-image: url("../../assets/images/bottom-lines.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-color: #f2f3f9;
  position: relative;
  //padding: 80px 0 850px 0;
}
.bottomInfo {
  @include bigScreen;
}

.downloadInfo {
  @include generalSettingsForBlock;
  padding-bottom: 24px;
  @include bigScreen;
}

.helpInfo {
  @include generalSettingsForBlock;
  @include bigScreen;

  a {
    margin: 1rem;
    color: $orange;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    @include generalSettingsForBlock;
    display: flex;
    justify-content: center;
  }
  p {
    text-align: center;
  }

  img {
    width: 31px;
  }

  .helpList {
    list-style-type: none;

    & .mailItem {
      padding-left: 25px;
      background-image: url("../../assets/images/mail.svg");
      background-position: 0 0;
      background-size: 11%;
      background-repeat: no-repeat;
      font-weight: normal;
      padding-bottom: 25px;
    }

    & .skypeItem {
      padding-left: 19px;
      background-image: url("../../assets/images/skype.svg");
      background-position: 0 0;
      background-size: 16%;
      background-repeat: no-repeat;
      font-weight: normal;
      padding-bottom: 25px;
    }
  }
}

@media screen and (max-width: 1700px) {
  .header {
    .headerLeftSide {
      h1 {
        font-size: 4vw;
      }
      .virtualMashineWarning {
        .virtualMashineWarningparagraph {
          font-size: 19px;
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .main_container {
    .generalTitleBlock {
      .headingParagraph {
        width: 48%;
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .header {
    @include screen1350;
  }
  .topInfo,
  .useInfo,
  .additionalInfo,
  .aboutInfo,
  .installInfo {
    @include screen1350;
  }
  .bottomInfo {
    padding: 1rem 0px;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    @include screen1200;
  }
  .topInfo,
  .useInfo,
  .additionalInfo,
  .aboutInfo,
  .installInfo {
    @include screen1200;
  }
}
@media screen and (max-width: 1024px) {
  .main_container .generalTitleBlock .headingParagraph {
    width: 90%;
  }
  .header {
    @include screen1024;
    .headerRightSide {
      .videoTutorial {
        width: 384px;
        height: 316px;
      }
    }
  }
  .topInfo,
  .useInfo,
  .aboutInfo,
  .installInfo,
  .additionalInfo,
  .bottomInfo {
    @include screen1024;
  }
  .helpInfo {
    margin-bottom: 0;
  }
  .header .headerRightSide .videoTutorial img {
    top: 12%;
  }
}
@media screen and (max-width: 880px) {
  .header {
    @include screen880;
  }
  .topInfo,
  .useInfo,
  .aboutInfo,
  .installInfo,
  .additionalInfo,
  .bottomInfo {
    @include screen880;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 50px 35px 40px;
    grid-template-columns: 1fr;
    @include screen768;

    .headerLeftSide {
      align-items: center;

      h1 {
        text-align: center;
        font-size: 5vw;
      }
      .virtualMashineWarning {
        text-align: center;
      }
    }

    .headerRightSide {
      padding: 5rem;
    }
  }
  .bottomInfo,
  .topInfo,
  .useInfoMobile,
  .additionalInfo,
  .creditionalInfo {
    @include screen768;
  }
  .aboutInfo {
    padding: 1rem 0;
    @include screen768;

    p {
      padding: 2rem;
    }
  }
  .installInfo {
    padding: 1rem 0;
    @include screen768;

    p {
      padding: 2rem;
    }
  }
  .technicalInfo {
    ul {
      margin-left: 1rem;
    }
  }
  .creditionalInfo {
    padding: 0;
    margin-top: 2rem;
    ul {
      margin-left: 1rem;
    }
  }
  .useInfo {
    display: none;
  }
  .useInfoMobile {
    display: block;
    @include screen768;

    li {
      margin-bottom: 5rem;
    }

    .stepTitle {
      color: $orange;
      font-size: 20px;
      font-weight: bold;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 690px;
    }

    ul {
      padding: 0;
      margin: 20px 0;
    }
  }
  .blockWithPlayer {
    .reactPlayer {
      width: 290px;
      height: auto;
    }
  }
  .helpInfo {
    a {
      font-size: 17px;
    }

    p {
      margin-top: 0;
    }
  }
  .header .headerRightSide .videoTutorial {
    display: none;
  }
  .downloadInfo {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 570px) {
  .main_container .generalTitleBlock .headingParagraph {
    width: 76%;
  }
  .addonFullPage {
    h2 {
      font-size: 22px;
      padding: 2rem 0 1rem;
    }
    p {
      font-size: 14px;
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 520px) {
  .main_container .generalTitleBlock .headingParagraph {
    width: 80%;
  }
  .header {
    grid-template-columns: 1fr;
    align-content: start;
    padding: 50px 0px 90px;

    .headerRightSide {
      display: none;
    }

    .headerLeftSide {
      align-items: center;

      h1 {
        font-size: 6vw;
        text-align: center;
      }

      a {
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }

  .virtualMashineWarning {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .useInfo {
    display: none;
  }
  .useInfoMobile {
    display: block;

    li {
      margin-bottom: 1rem;
    }

    .stepTitle {
      color: $orange;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .topInfo {
    padding: 0;
    margin-bottom: 2rem;
  }

  .helpInfo {
    a {
      margin: 1rem;
      color: $orange;
      font-size: 12px;
    }

    .helpList {
      .skypeItem,
      .mailItem {
        padding-left: 0;
        background-size: 8%;
      }
      .mailItem {
        background-position: 15% 0;
      }
      .skypeItem {
        background-position: 26% 0;
      }
    }

    ul {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0;
      margin-left: 18px;
    }
  }
  .downloadInfo {
    margin-bottom: 0;
  }
  .technicalInfo {
    ul {
      padding: 0 19px;
    }
  }
  .additionalInfo {
    padding-top: 56px;
  }
  .creditionalInfo {
    ul {
      padding: 0 19px;
    }
  }
}
@media only screen and (max-width: 500px) {
  .header,
  .bottomInfo,
  .topInfo,
  .useInfoMobile,
  .additionalInfo,
  .creditionalInfo,
  .aboutInfo,
  .installInfo {
    @include screen500;
  }
  .creditionalInfo {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 400px) {
  .header,
  .bottomInfo,
  .topInfo,
  .useInfoMobile,
  .additionalInfo,
  .creditionalInfo,
  .aboutInfo,
  .installInfo {
    @include screen400;
  }
  .technicalInfo ul {
    padding: 10px;
  }
  .creditionalInfo {
    margin-top: 2rem;
    ul {
      margin-left: 17px;
      padding: 10px;
    }
  }
}
