@import "../utils/utils";

.errorContainer{
  @include bigScreen;
  background-color: $light-blue;
  color: $blue;
  font-family: Montserrat;
  text-align: center;
  margin: 60px auto;
  padding: 70px 0 271px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='601' height='163' viewBox='0 0 601 163' fill='none'%3E%3Cg opacity='0.2'%3E%3Cpath d='M362.101 18.6931C361.957 18.981 361.669 19.8447 361.093 20.7084C355.476 30.3531 350.003 40.1417 344.242 49.7864C343.09 51.6577 341.649 53.3851 339.057 51.8017C336.752 50.2182 337.184 48.3469 338.481 46.1876C344.098 36.5429 349.715 26.7543 355.332 17.1096C356.34 15.3822 357.636 14.0867 359.941 14.8064C361.525 15.2383 362.245 16.3899 362.101 18.6931Z' fill='%23383680'/%3E%3Cpath d='M288.648 48.6299C288.792 50.3573 287.784 51.365 286.344 51.9408C284.759 52.6605 283.319 51.7968 282.599 50.6452C276.406 40.1369 270.213 29.6285 264.164 18.9762C263.299 17.3927 264.02 15.6653 265.892 14.8016C267.476 14.0818 268.916 14.3697 269.781 15.6653C276.118 26.3176 282.311 37.1139 288.504 47.9102C288.792 48.1981 288.648 48.486 288.648 48.6299Z' fill='%23383680'/%3E%3Cpath d='M316.453 21.7145C316.453 27.1846 316.453 32.6547 316.453 38.1248C316.453 40.572 316.309 43.307 312.997 43.1631C310.26 43.1631 309.828 40.8599 309.828 38.5567C309.828 27.6164 309.828 16.6762 309.828 5.59203C309.828 3.28883 310.116 0.985621 312.853 0.841671C316.165 0.69772 316.453 3.28883 316.453 5.87993C316.453 11.2061 316.453 16.5323 316.453 21.7145Z' fill='%23383680'/%3E%3Cpath d='M582.187 158.897C579.018 158.321 576.714 156.594 576.858 153.283C577.002 150.26 579.018 148.389 582.043 148.389C584.923 148.389 587.084 149.972 587.228 153.139C587.372 156.594 585.356 158.321 582.187 158.897Z' fill='%23383680'/%3E%3Cpath d='M597.737 30.0714C594.568 29.2077 593.848 31.9428 592.984 34.246C592.696 35.1097 592.552 36.1174 592.408 36.9811C588.375 53.1035 585.783 69.3699 583.622 85.7803C582.038 97.2963 577.429 106.653 565.331 111.547C564.899 100.751 560.722 92.5459 551.504 87.3637C544.015 83.1891 536.382 83.621 532.205 88.3714C527.596 93.5536 528.172 102.191 533.357 108.956C538.254 115.29 545.167 118.025 552.657 118.745C557.121 119.177 557.121 120.76 555.969 124.215C552.657 134.148 542.575 140.481 532.925 138.322C523.996 136.307 518.811 127.382 520.539 116.154C521.403 110.684 523.419 105.645 525.58 100.463C527.452 96.1447 525.724 93.9854 520.971 94.8491C515.786 95.8568 511.033 98.16 506.712 101.183C500.231 105.933 495.478 110.396 493.894 118.025C493.03 121.048 492.166 124.071 491.158 127.094C490.005 130.549 488.997 131.844 488.421 132.852C486.837 135.875 484.965 138.61 482.228 140.913C478.771 143.792 474.883 145.952 470.418 143.936C465.665 141.777 466.529 137.171 467.105 133.14C468.114 126.23 469.122 119.321 468.258 112.411C467.393 105.07 464.657 102.335 457.6 101.615C457.312 101.615 456.736 101.615 456.736 101.615C451.551 101.327 443.485 107.229 443.341 107.229C439.596 109.676 436.572 112.987 433.691 116.586C431.675 119.033 427.786 117.161 428.362 114.138C428.65 112.987 428.795 111.835 429.083 110.828C430.091 106.365 428.939 104.206 423.898 105.789C419.865 107.085 415.688 108.237 411.511 109.244C401.574 111.547 391.636 112.699 381.698 109.676C379.25 108.956 375.793 108.668 377.377 104.062C379.97 96.7205 378.097 91.1064 373.921 85.2044C373.777 84.9165 373.057 84.0528 372.625 83.621C370.464 81.3178 367.728 79.5904 364.847 78.1509C362.687 76.9993 362.975 78.0069 361.39 79.4464C361.246 79.5904 361.246 79.7343 361.102 79.7343C358.366 83.621 355.629 87.5077 352.893 91.2504C351.021 93.8415 344.683 101.471 341.515 106.653C340.075 108.956 340.795 111.979 342.955 113.563C348.86 117.593 355.341 121.336 362.111 117.881C370.176 113.995 376.225 114.714 384.147 117.305C384.435 117.449 385.587 117.593 385.875 117.737C396.533 119.753 406.327 117.593 416.552 115.146C418.713 114.57 420.729 116.586 420.153 118.745C420.153 118.889 420.009 119.177 420.009 119.321C419.001 126.23 417.705 132.996 416.84 139.906C416.408 143.073 414.392 147.247 418.857 148.687C423.033 149.982 423.466 145.52 424.906 142.929C429.083 135.155 433.547 127.382 439.308 120.616C442.909 116.442 446.654 112.411 451.695 109.964C458.32 106.797 461.344 108.38 461.488 115.578C461.488 121.768 460.48 127.958 459.904 134.148C459.184 140.194 460.192 145.808 465.665 149.406C470.994 152.861 476.611 152.429 482.084 149.406C487.701 146.383 490.726 142.641 494.182 136.883C494.758 136.019 494.758 135.875 495.91 133.572C497.495 129.973 498.503 126.518 499.079 122.632C500.231 113.275 507.145 106.221 516.794 104.782C514.49 109.244 513.626 113.995 513.338 118.745C512.473 130.693 518.955 141.345 528.748 144.512C539.838 148.111 552.513 143.36 558.85 133.284C560.866 129.973 562.45 126.518 563.315 122.776C563.603 121.192 563.603 119.177 565.619 118.745C571.092 117.305 575.413 113.851 580.454 110.684C580.022 119.321 579.59 127.238 579.301 135.155C579.157 138.034 578.725 141.777 582.758 141.777C586.935 141.777 586.071 137.89 586.215 135.155C586.647 114.714 588.663 94.5612 591.688 74.4082C593.704 61.5966 596.008 48.9289 599.177 36.4053C600.329 33.6702 600.617 30.9352 597.737 30.0714ZM556.113 112.555C548.912 113.995 537.39 106.221 536.382 99.0237C535.662 93.8415 538.254 91.1064 543.151 91.6822C550.64 92.5459 558.13 101.039 558.13 108.812C557.842 110.108 558.706 111.979 556.113 112.555Z' fill='%23383680'/%3E%3Cpath d='M289.951 92.68C287.502 89.6571 285.486 93.1119 280.445 97.4304C278.285 99.3018 275.836 101.893 274.828 101.461C274.828 101.317 274.684 101.173 274.684 101.173C267.339 91.2405 267.339 91.2405 276.844 83.3233C277.421 82.8914 278.141 82.3156 278.717 81.8838C279.725 81.164 280.301 80.5882 279.437 79.2927C278.429 77.7092 276.988 77.4213 275.548 78.5729C272.092 81.4519 270.651 82.4596 267.195 85.9144C266.475 86.6341 265.754 87.2099 264.458 88.0736C264.026 88.3615 263.45 88.2176 263.306 87.7857C263.018 87.2099 262.73 86.6341 262.298 85.9144C260.714 83.4672 259.993 79.7245 256.105 82.3156C251.208 85.6265 245.879 89.3692 244.871 95.9909C244.151 99.0139 244.439 100.597 244.583 103.764C245.735 109.81 244.583 111.681 238.534 116.576C224.995 127.66 210.881 138.024 196.046 147.093C187.404 152.276 183.804 150.26 183.516 140.184C183.228 132.698 185.676 125.645 186.54 118.447C186.828 115.568 185.82 112.689 183.66 110.962C181.787 109.522 179.627 108.802 176.747 109.234C173.434 109.954 172.714 110.386 169.689 112.257C160.184 119.167 154.423 129.387 146.645 139.32C147.077 132.842 147.509 127.66 147.941 122.478C148.518 118.591 148.95 114.704 149.526 110.818C149.958 107.219 150.246 106.931 150.534 105.348C151.686 99.5897 154.279 95.703 158.311 91.3845L158.743 90.8087C165.369 82.4596 173.722 70.3677 176.891 60.5791C178.619 55.6848 179.195 51.6542 176.891 46.328C175.738 44.1688 175.306 43.0172 174.01 42.1535C169.545 39.2744 165.369 38.8426 160.616 42.8732C159.752 43.449 159.463 44.0248 158.167 45.0325C153.126 50.5026 152.838 54.6771 150.678 59.8594C150.246 61.5868 149.094 66.9129 148.95 68.0645C148.518 70.3677 148.518 75.5499 146.789 82.3156C146.069 85.1946 146.213 85.7704 144.197 91.6724C144.053 92.1042 143.045 94.4074 142.18 94.9832C139.588 96.7107 137.428 97.2865 135.411 98.0062C132.387 99.1578 131.234 98.1502 131.667 94.6953C132.099 91.2405 131.955 87.6418 132.099 84.187C131.811 79.4366 131.378 77.4213 129.938 73.2467C129.506 71.3754 128.93 70.0798 128.354 68.0645C128.354 67.9206 128.21 67.7766 128.21 67.7766C125.617 62.3065 124.033 57.844 120.721 52.6618C120.721 52.5179 119.28 50.5026 119.136 50.3586C116.112 45.7522 112.223 42.4414 110.495 41.2898C100.557 33.9483 89.899 32.3648 79.0971 38.8426C68.7272 45.1764 67.287 55.6848 69.0153 66.625C70.7436 78.141 76.5046 87.6418 85.8663 94.6953C88.3147 96.4227 93.6437 100.022 96.9563 101.605C103.149 104.484 108.478 105.78 116.112 106.931C116.256 106.931 116.4 106.931 116.4 107.075C119.136 107.939 121.729 107.219 120.865 111.25C111.935 133.418 96.0921 147.813 72.76 153.715C41.6504 161.632 14.5736 145.798 8.6685 116.864C2.90747 87.7857 17.5981 58.1319 44.3869 45.0325C51.1561 41.7216 58.2134 39.5623 65.7027 39.1305C68.2952 38.9865 70.7436 38.5547 70.5996 35.2438C70.3115 31.933 67.7191 32.0769 65.2706 32.2209C63.9744 32.2209 62.5341 32.3648 61.2379 32.6527C31.4246 37.8349 11.549 54.8211 3.33954 83.6112C-3.14162 106.499 -0.981228 128.668 16.878 146.374C33.873 163.36 55.0448 165.231 77.0807 159.185C98.9726 153.283 114.095 139.032 124.753 119.455C126.77 115.136 128.066 112.689 128.93 109.234C129.218 107.939 130.226 106.931 131.667 107.075C136.131 107.507 139.732 105.204 143.333 102.613C142.468 109.234 141.172 115.712 140.452 122.334C140.164 125.501 139.732 128.668 139.3 134.426C139.156 139.608 139.012 144.934 139.012 150.116C139.012 152.563 138.292 155.73 141.748 156.594C144.773 157.314 145.637 154.579 146.789 152.563C154.567 139.752 162.632 127.084 173.866 116.864C175.594 115.712 176.314 115.856 177.755 116C178.619 116.144 178.907 116.432 179.339 116.72C180.635 117.727 176.17 131.691 176.314 139.464C176.603 155.73 185.82 161.2 199.647 152.995C213.473 144.79 226.003 135.001 238.966 125.357C245.159 120.75 249.912 114.992 259.705 121.038C267.339 125.789 274.684 120.606 281.309 115.568C282.605 114.56 282.894 112.977 282.029 111.394C281.165 109.81 280.301 108.659 279.005 107.219C278.717 106.787 278.717 106.355 278.717 106.499C280.013 104.34 281.597 102.901 283.182 101.461C287.646 97.5744 291.967 95.1272 289.951 92.68ZM162.632 51.9421C163.928 49.6389 165.801 46.328 168.537 47.1917C171.85 48.1994 171.418 51.9421 170.841 54.8211C168.969 63.89 164.792 70.3677 160.04 78.141C159.175 79.1487 158.167 79.4366 157.303 79.0048C156.151 78.285 155.431 77.8532 155.431 74.9741C157.015 66.625 158.887 59.1396 162.632 51.9421ZM113.807 98.582C113.663 98.582 113.519 98.582 113.519 98.582C111.791 98.1502 108.91 97.1425 108.478 96.9986H108.334C102.573 95.2711 100.557 93.9756 97.1003 92.3921C93.6437 90.2329 89.4669 87.3539 87.8827 85.6265C81.2575 77.7092 76.5046 69.2161 77.2248 58.4198C77.6568 51.2223 80.3933 46.0401 87.7386 44.1688C91.9154 42.5853 95.228 42.7293 99.8368 43.8809C101.421 44.3127 103.005 45.0325 104.302 46.1841C109.775 50.6465 109.631 51.2223 111.791 54.5332C112.511 55.9727 113.807 58.2759 113.951 58.4198C117.84 65.1855 119.424 72.6709 122.017 79.8685C122.449 81.164 123.313 84.043 123.601 85.3386C123.601 85.6265 123.601 85.9144 123.601 86.2023C123.313 92.68 122.881 99.1578 113.807 98.582Z' fill='%23383680'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-size: 600px;
  .statusCode{
    font-size: 180px;
    line-height: 219px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  .errorMessage{
    font-size: 46px;
    line-height: 56px;
    letter-spacing: -0.2px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  .errorDescription{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.1px;
    margin: 0;
    padding: 0;
    color: $card-text-color;
  }
  .actionButton{
    margin-top: 20px;
    width: 100%;
    max-width: 268px;
    height: 50px;
    background-color: $orange;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.457143px;
    font-weight: 700;
    justify-self: center;
    border: 1px solid $orange;
    transition: all ease-in .3s;
  }
}

@media screen and (max-width: 1350px) {
  .errorContainer {
    @include screen1350;
    margin: 60px auto;
  }
}
@media screen and (max-width: 1200px) {
  .errorContainer {
    @include screen1200;
    margin: 60px auto;
  }
}
@media screen and (max-width: 1024px) {
  .errorContainer{
    .statusCode{
      font-size: 150px;
      line-height: 183px;
    }
    .errorMessage{
      font-size: 40px;
      line-height: 49px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .errorContainer{
    @include screen1024;
    margin: 60px auto;
  }
}
@media screen and (max-width: 880px) {
  .errorContainer{
    @include screen880;
    margin: 60px auto;
    .statusCode{
      font-size: 100px;
      line-height: 122px;
    }
    .errorMessage{
      font-size: 28px;
      line-height: 34px;
    }
  }
}

@media screen and (max-width: 700px) {
  .errorContainer{
    @include screen768;
    background-size: 280px;
    margin: 60px auto;
  }
}
@media screen and (max-width: 500px) {
  .errorContainer{
    @include screen500;
    margin: 20px auto;
    padding: 20px 20px 150px;
  }
}
@media screen and (max-width: 415px) {
  .errorContainer{
    @include screen400;
    margin: 20px auto;
  }
}