@import "../utils/utils";

.educationVideoComponent {
  @include bigScreen;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  padding: 29px 0 50px;
  margin: auto;

  .backButton {
    width: 248px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $card-text-color;
    letter-spacing: -0.1px;
    padding-left: 30px;
    border: transparent;
    outline: transparent;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M16.0002 6.99813V8.99813H4.00016L9.50016 14.4981L8.08016 15.9181L0.160156 7.99813L8.08016 0.078125L9.50016 1.49813L4.00016 6.99813H16.0002Z' fill='%2361626A'/%3E%3C/svg%3E") no-repeat left center;
    transition: all 0.3s ease-in;
    box-shadow: none;

    &:hover {
      box-shadow: none;
      text-decoration: underline;
    }
  }

  .generalHeadingParagraph {
    @include gradientTitleGray;
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    text-align: left;
    letter-spacing: -1.09524px;
    margin: 0;
  }

  .videoContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 31px;
    height: 83vh;

    .rightBar {
      overflow: auto;
      .videoSections {
        @include bigScreen;

        .videoSectionList {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 20px;
        }

        input {
          position: absolute;
          opacity: 0;
          z-index: -1;
        }

        .tab {
          width: 100%;
          color: white;
          overflow: hidden;

          &-label {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            background: #F9FAFF;
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            cursor: pointer;
            color: $blue-black;

            &::after {
              content: url("../../assets/images/faq_arrow.svg");
              width: 1em;
              height: 1em;
              text-align: center;
              transition: all .35s;
            }
          }

          &-content {
            max-height: 0;
            padding: 0 1em;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: $education-text-color;
            background: #F9FAFF;
            transition: all .35s;
          }

          &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: #F9FAFF;
            cursor: pointer;
          }
        }

        input:checked {
          + .tab-label {

            &::after {
              transform: rotate(180deg);
            }
          }

          ~ .tab-content {
            max-height: 100vh;
            padding: 3px 20px 35px;
          }
        }

        .videoPreview {
          margin: 0;
          .video{
            padding: 15px;
            &:hover, &:focus, &:active {
              background-color: rgba(57, 54, 129, 0.15);
            }
            .active{
              background-color: rgba(57, 54, 129, 0.15);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .educationVideoComponent {
    @include screen1350;
  }
}
@media screen and (max-width: 1200px) {
  .educationVideoComponent {
    @include screen1200;
  }
}
@media screen and (max-width: 1024px) {
  .educationVideoComponent {
    .videoContent{
      grid-template-columns: 1fr;
      height: fit-content;
      grid-row-gap: 67px;
    }

  }
}
@media screen and (max-width: 1000px) {
  .educationVideoComponent {
    @include screen1024;
  }
}
@media screen and (max-width: 880px) {
  .educationVideoComponent {
    @include screen880;
  }
}
@media screen and (max-width: 700px) {
  .educationVideoComponent {
    @include screen768;
  }
}
