@import "../utils/utils";

.educationVideoComponent {
  @include bigScreen;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
  padding: 29px 0 50px;
  margin: auto;

  //.backButton {
  //  max-width: 248px;
  //  font-weight: 600;
  //  font-size: 18px;
  //  line-height: 28px;
  //  color: $card-text-color;
  //  letter-spacing: -0.1px;
  //  padding-left: 30px;
  //  border: transparent;
  //  outline: transparent;
  //  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M16.0002 6.99813V8.99813H4.00016L9.50016 14.4981L8.08016 15.9181L0.160156 7.99813L8.08016 0.078125L9.50016 1.49813L4.00016 6.99813H16.0002Z' fill='%2361626A'/%3E%3C/svg%3E") no-repeat left center;
  //  transition: all 0.3s ease-in;
  //  box-shadow: none;
  //
  //  &:hover {
  //    box-shadow: none;
  //    text-decoration: underline;
  //  }
  //}
  .backButton {
    max-width: 248px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: $blue-black;
    padding-left: 30px;
    letter-spacing: -0.1px;
    border: transparent;
    outline: transparent;
    background: transparent url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 8.42612V6L9 12L15 18V15.5739L11.426 12L15 8.42612Z' fill='%231E2432'/%3E%3C/svg%3E%0A") no-repeat left center;
    transition: all 0.3s ease-in;
    box-shadow: none;

    &:hover {
      box-shadow: none;
      text-decoration: underline;
    }
  }
  a{
    width: 248px;
  }

  .generalHeadingParagraph {
    @include gradientTitleBlue;
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    text-align: left;
    letter-spacing: -1.09524px;
    margin: 0;
    font-family: Gilroy-Light;
  }

  .videoContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 31px;
    max-height: 170vh;

    .rightBar {
      position: relative;
      overflow: auto;

      .videoSections {
        @include bigScreen;
        position: absolute;
        clip: rect(0px, auto, auto, 0px);

        .videoSectionList {
          display: grid;
          grid-template-columns: 1fr;
          grid-row-gap: 20px;
        }

        input {
          position: absolute;
          opacity: 0;
          z-index: -1;
        }

        .tab {
          width: 100%;
          color: white;
          overflow: hidden;

          &-label {
            //display: grid;
            //grid-template-columns: 1fr;

            display: flex;
            justify-content: space-between;
            padding: 20px;
            background: #F9FAFF;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            cursor: pointer;
            color: $education-text-color;

            &::after {
              content: url("../../assets/images/education/accordeon_arrow.svg");
              width: 1em;
              height: 1em;
              text-align: center;
              transition: all .35s;
            }
          }

          &-content {
            max-height: 0;
            padding: 0 1em;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: $education-text-color;
            background: #F9FAFF;
            transition: all .35s;
          }

          &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: #F9FAFF;
            cursor: pointer;
          }
        }

        input:checked {
          + .tab-label {
            color: $blue-black;

            &::after {
              transform: rotate(180deg);
            }
          }

          ~ .tab-content {
            max-height: 500vh;
            padding: 0px 20px 10px;
          }
        }

        .videoPreview {
          margin: 0;
          padding-left: 0;

          .videoActive {
            color: $blue-black;
          }


          .video {
            padding: 10px 10px 10px 0;
            display: grid;
            grid-template-columns: 0.4fr 5fr 1fr;
            align-items: center;
            grid-gap: 16px;
            border-bottom: 1px solid #F2F3F9;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            .videoSpan {
              font-size: 30px;
              line-height: 32px;
              color: $dark-bg;
              transition: all 0.3s ease-in-out;
            }
            .videoDuration{
              font-size: 14px;
              line-height: 120%;
              font-weight: 400;
            }

            .videoSpanActive {
              color: $blue-black;
            }

            &:hover {
              color: $education-text-color;

              span {
                color: $education-text-color;
              }
            }
          }
        }
      }
    }
  }

  .mobileVideoBlocks {
    display: none;
  }
}

@media screen and (max-width: 1350px) {
  .educationVideoComponent {
    @include screen1350;
  }
}

@media screen and (max-width: 1200px) {
  .educationVideoComponent {
    @include screen1200;
  }
}

@media screen and (max-width: 1024px) {
  .educationVideoComponent {
    .generalHeadingParagraph {
      font-size: 46px;
      line-height: 120%;
      letter-spacing: 1px;
    }

    .videoContent {
      display: none;
    }

    .mobileVideoBlocks {
      display: flex;
      flex-direction: column;

      .tabBar {
        border: transparent;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 10px;

        .tabLinks {
          font-weight: 600;
          font-size: 14px;
          line-height: 120%;
          box-shadow: none;
        }

        button {
          border: none;
          outline: none;
          cursor: pointer;
          width: 105px;
          height: 42px;
          transition: 0.3s;
          font-size: 17px;
          color: $blue;
          background: #F9FAFF;

          &:hover {
            color: #FFFFFF;
            background-color: $blue;
          }
        }

        .active {
          color: #FFFFFF;
          background-color: $blue;
        }
      }

      .blockVideoList {
        display: grid;
        grid-template-columns: 1fr;
        //grid-row-gap: 20px;

        .blockHeader {
          font-weight: 600;
          font-size: 18px;
          line-height: 120%;
          margin: 30px 0;
        }

        .tab {
          width: 100%;
          color: white;
          overflow: hidden;
          border-bottom: 1px solid #F2F3F9;

          &:last-child {
            border-bottom: none;
          }

          span {
            font-size: 30px;
            line-height: 32px;
            color: $education-text-color;
          }

          &-label {
            display: grid;
            grid-template-columns: 0.4fr 8fr 0.7fr 0.3fr;
            align-items: center;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            cursor: pointer;
            color: $education-text-color;
            padding: 10px 0;

            &::after {
              content: url("../../assets/images/education/accordeon_arrow.svg");
              width: 1em;
              height: 1em;
              text-align: center;
              transition: all .35s;
            }
            .videoDuration{
              font-size: 14px;
              line-height: 120%;
              font-weight: 400;
              margin-left: 10px;
            }

          }

          &-content {
            max-height: 0;
            padding: 0 1px;
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: $education-text-color;
            transition: all .35s;
          }

          &-close {
            display: flex;
            justify-content: flex-end;
            padding: 1em;
            font-size: 0.75em;
            background: #F9FAFF;
            cursor: pointer;
          }

        }

        input {
          position: absolute;
          opacity: 0;
          z-index: -1;
        }

        input:checked {
          + .tab-label {
            color: $blue-black;

            &::after {
              transform: rotate(180deg);
            }
          }

          ~ .tab-content {
            max-height: 250vh;
            padding: 0px 1px;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .educationVideoComponent {
    @include screen1024;

    .mobileVideoBlocks {
      .tabBar {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .educationVideoComponent {
    @include screen880;
  }
}

@media screen and (max-width: 700px) {
  .educationVideoComponent {
    @include screen768;

    .mobileVideoBlocks {
      .tabBar {
        grid-template-columns: repeat(4, 1fr);
      }

      .blockVideoList {
        .tab {
          span {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .educationVideoComponent {
    @include screen500;
    .generalHeadingParagraph{
      font-size: 28px;
      line-height: 26px;
    }

    .mobileVideoBlocks {
      .tabBar {
        grid-template-columns: repeat(3, 1fr);
      }
      .blockVideoList{
        .tab-label{
          font-size: 14px;
          grid-template-columns: 0.4fr 8fr 2fr 0.8fr;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .educationVideoComponent {
    @include screen400;
  }
}

@media print {
  .educationVideoComponent{
    .generalHeadingParagraph{
      color: $blue;
      font-size: 35px;
    }
    .videoContent{
      grid-template-columns: 1fr;
      .rightBar{
        display: none;
      }
    }
  }
}

