@import "../utils/utils";

.mainContainer {
  font-family: Montserrat;
  margin-bottom: 20px;
  @include bigScreen;

  h2{
    font-size: 46px;
    line-height: 56px;
    font-weight: 700;
    color: $blue;
    text-align: center;
  }
  p{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $card-text-color;
  }

  .headerContent {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: $blue;
    padding: 4rem 0 87px;
    .headingParagraph {
      width: 45%;
      text-align: left;
      margin: 2rem 0;
      font-weight: bold;
      font-size: 46px;
      line-height: 56px;
      letter-spacing: -1.09524px;
    }

    .orangeElement {
      width: 20%;
      max-width: 56px;
      max-height: 86px;
      position: relative;
      top: 42px;
      left: 0;
      margin-right: 1rem;
    }

    .paragraph {
      width: 39%;
      text-align: left;
      margin-top: 2.5rem;
      color: $card-text-color;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;

    }
  }
  .educationBenefits{
    .benefitsTitle{
      margin: 30px 0 50px;
    }
    .benefitsList{
      padding-left: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
      background-color: $light-blue;
      .benefitsListItem{
        text-align: center;
        background-color: #ffffff;
        p{
          text-align: center;
          padding: 0 30px;
        }
        h5{
          font-size: 20px;
          line-height: 26px;
          color: $blue;
          margin: 30px 0 20px;
        }
      }
    }
  }
  .educationCoursesCards{
    .educationTitle{
      margin-top: 80px;
    }
  }
}
@media screen and (max-width: 1350px) {
  .mainContainer{
    @include screen1350;
    .headerContent{
      .headingParagraph {
        width: 45%;
      }

      .orangeElement {
        left: 48px;
      }

      .paragraph {
        width: 30%;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .mainContainer{
    @include screen1200;
    .headerContent{
      padding: 20px 0;
      img{
        max-width: 260px;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .mainContainer{
    .headerContent{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      line-height: 20px;
      padding: 30px 0 38px;

      .headingParagraph {
        font-size: 40px;
        line-height: 130%;
        width: 75%;
        margin-top: 0;
        margin-bottom: 27px;
        text-align: center;
        border-radius: 4px;
      }

      .orangeElement {
        display: none;
      }

      .paragraph {
        width: 86%;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        text-align: center;
      }

    }
  }
}
@media screen and (max-width: 1000px) {
  .mainContainer{
    @include screen1024;
  }
}
@media screen and (max-width: 880px) {
  .mainContainer{
    @include screen880;
  }
}
@media screen and (max-width: 768px) {
  .mainContainer{
    @include screen768;
    .educationBenefits{
      .benefitsList{
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        .benefitsListItem{
          padding: 30px 0 0 0;
        }
      }
    }
    .educationCoursesCards{
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 500px) {
  .mainContainer{
    @include screen500;
    h2{
      font-size: 28px;
      line-height: 34px;
      letter-spacing: -0.2px;
    }
    p{
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
    }
    .headerContent{
      .headingParagraph{
        font-size: 27px;
        line-height: 130%;
        letter-spacing: -1.09524px;
      }
      .paragraph{
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
      }
    }
    .educationBenefits{
      .benefitsTitle{
        margin: 0;
      }
    }
    .educationCoursesCards{
      .educationTitle{
        margin-top: 49px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .mainContainer{
    @include screen400;
  }
}
