@import "../utils/utils";

.generalVideo {
  width: 100%;
  max-width: 754px;
  //display: flex;
  //justify-content: flex-start;

  .reactPlayer {
    width: 100%;
    height: 402px;
  }

  .underVideoBlock {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom: 1px solid #E3E3E3;
    padding: 21px 0;
    align-items: center;
    grid-gap: 10px;

    h4 {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: $blue-black;
    }

    h5 {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: $education-text-color;
      margin-bottom: 6px;
      margin-top: 0;
    }

    h4 {
      margin: 0;
    }

    .author {
      display: flex;
      align-items: center;
      justify-content: left;

      img {
        width: 66px;
        margin-right: 20px;
        border-radius: 4px;
      }
    }
  }

  .videoDescription {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.1px;
    color: $education-text-color;
    margin-top: 20px;
  }

  .attachments {
    .attachmentsHeadingParagraph {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: $orange;
      margin-top: 60px;
      margin-bottom: 20px;
    }

    .attachment {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      a {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        background-position: -23px -16px;
        padding: 14px 0 29px 79px;
        color: $blue-black;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='112' viewBox='0 0 112 112' fill='none'%3E%3Cg filter='url(%23filter0_ddd)'%3E%3Crect x='24' y='16' width='64' height='64' rx='4' fill='url(%23paint0_linear)'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M47.333 49.5533C46.8268 49.5533 46.4164 49.9637 46.4164 50.47V55.97C46.4164 56.4762 46.8268 56.8866 47.333 56.8866C47.8393 56.8866 48.2497 56.4762 48.2497 55.97V55.054H49.1615C50.6805 55.054 51.9119 53.8226 51.9119 52.3036C51.9119 50.7847 50.6805 49.5533 49.1615 49.5533H47.333ZM49.1615 53.2207H48.2497V51.3866H49.1615C49.668 51.3866 50.0786 51.7972 50.0786 52.3036C50.0786 52.8101 49.668 53.2207 49.1615 53.2207Z' fill='white'/%3E%3Cpath d='M61.0738 50.4688C61.0745 49.963 61.4847 49.5533 61.9905 49.5533H64.7497C65.256 49.5533 65.6664 49.9637 65.6664 50.47C65.6664 50.9762 65.256 51.3866 64.7497 51.3866H62.906L62.9037 53.2231H64.7497C65.256 53.2231 65.6664 53.6335 65.6664 54.1398C65.6664 54.646 65.256 55.0564 64.7497 55.0564H62.9048L62.9072 55.9676C62.9084 56.4739 62.4991 56.8853 61.9928 56.8866C61.4866 56.8879 61.0751 56.4785 61.0738 55.9723L61.0692 54.1421L61.0692 54.1386L61.0738 50.4688Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M54.6615 49.5533C54.1552 49.5533 53.7448 49.9637 53.7448 50.47V55.97C53.7448 56.4762 54.1552 56.8866 54.6615 56.8866H55.5736C57.5987 56.8866 59.2403 55.245 59.2403 53.22C59.2403 51.1949 57.5987 49.5533 55.5736 49.5533H54.6615ZM55.5781 55.0533V51.3866C56.5886 51.389 57.407 52.2089 57.407 53.22C57.407 54.231 56.5886 55.0509 55.5781 55.0533Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M70.2448 62.3828V60.2484C71.3287 59.7335 72.0781 58.6287 72.0781 57.3488V49.0911C72.0781 47.8113 71.3287 46.7065 70.2448 46.1916V43.7341C70.2448 42.7625 69.858 41.8293 69.1705 41.1418L58.484 30.4571C58.4565 30.4297 58.4255 30.406 58.3946 30.3823C58.3718 30.3649 58.3492 30.3475 58.3281 30.3288C58.198 30.2115 58.0696 30.096 57.9266 29.9988C57.8803 29.9675 57.8296 29.9429 57.7791 29.9183C57.7497 29.904 57.7203 29.8897 57.692 29.8741C57.6614 29.8569 57.6308 29.8393 57.6003 29.8216C57.5009 29.7641 57.4011 29.7064 57.296 29.6615C56.9348 29.5111 56.5461 29.436 56.152 29.4085C56.1158 29.4062 56.08 29.4013 56.0442 29.3964C55.9944 29.3896 55.9446 29.3828 55.8935 29.3828H44.5781C42.5541 29.3828 40.9115 31.0255 40.9115 33.0495V46.1916C39.8275 46.7065 39.0781 47.8113 39.0781 49.0911V57.3488C39.0781 58.6287 39.8275 59.7335 40.9115 60.2484V62.3828C40.9115 64.4068 42.5541 66.0495 44.5781 66.0495H66.5781C68.6021 66.0495 70.2448 64.4068 70.2448 62.3828ZM66.5781 63.2995C67.0841 63.2995 67.4948 62.887 67.4948 62.3828V60.5572H43.6615V62.3828C43.6615 62.887 44.0721 63.2995 44.5781 63.2995H66.5781ZM67.4948 44.0495V45.8828H43.6615V33.0495C43.6615 32.5453 44.0721 32.1328 44.5781 32.1328H55.5781V40.3828C55.5781 42.4068 57.2208 44.0495 59.2448 44.0495H67.4948ZM65.4378 41.2995L58.3281 34.188V40.3828C58.3281 40.887 58.7388 41.2995 59.2448 41.2995H65.4378ZM42.2865 48.6328C42.0333 48.6328 41.8281 48.838 41.8281 49.0911V57.3488C41.8281 57.6019 42.0333 57.8072 42.2865 57.8072H68.8698C69.1229 57.8072 69.3281 57.6019 69.3281 57.3488V49.0911C69.3281 48.838 69.1229 48.6328 68.8698 48.6328H42.2865Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_ddd' x='0' y='0' width='112' height='112' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='8'/%3E%3CfeGaussianBlur stdDeviation='12'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0562384 0 0 0 0 0.121895 0 0 0 0 0.209437 0 0 0 0.08 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='6'/%3E%3CfeGaussianBlur stdDeviation='6'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0562384 0 0 0 0 0.121895 0 0 0 0 0.209437 0 0 0 0.12 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow' result='effect2_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.920833 0 0 0 0 0.644445 0 0 0 0 0.31999 0 0 0 0.08 0'/%3E%3CfeBlend mode='normal' in2='effect2_dropShadow' result='effect3_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect3_dropShadow' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear' x1='85.4737' y1='48' x2='29.4759' y2='48.3508' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF8F3E'/%3E%3Cstop offset='1' stop-color='%23FFB178'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;

        &:hover {
          text-decoration: underline;
        }

        &:focus, &:active {
          outline: transparent;
          border: transparent;
        }
      }

      .attachmentSize {
        font-size: 14px;
        line-height: 120%;
        font-weight: 400;
        position: relative;
        left: -169px;
        top: 20px;
        color: $education-text-color;
      }

    }

  }
  .noAttachments {

    .attachmentsHeadingParagraph {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: $orange;
      margin-top: 60px;
      margin-bottom: 20px;
    }
    h4{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='112' viewBox='0 0 112 112' fill='none'%3E%3Cg filter='url(%23filter0_ddd)'%3E%3Crect x='24' y='16' width='64' height='64' rx='4' fill='url(%23paint0_linear)'/%3E%3Cpath d='M56.0002 29.6641C66.127 29.6641 74.3364 37.8734 74.3364 48.0002C74.3364 58.127 66.127 66.3364 56.0002 66.3364C45.8734 66.3364 37.6641 58.127 37.6641 48.0002C37.6641 37.8734 45.8734 29.6641 56.0002 29.6641ZM56.0002 32.4141C47.3922 32.4141 40.4141 39.3922 40.4141 48.0002C40.4141 56.6082 47.3922 63.5864 56.0002 63.5864C64.6082 63.5864 71.5864 56.6082 71.5864 48.0002C71.5864 39.3922 64.6082 32.4141 56.0002 32.4141ZM49.5134 53.103C51.0702 55.0788 53.437 56.2531 56.0002 56.2531C58.56 56.2531 60.924 55.082 62.481 53.1106C62.9516 52.5147 63.8163 52.4132 64.4122 52.8838C65.0082 53.3545 65.1097 54.2192 64.639 54.8151C62.566 57.4399 59.4105 59.0031 56.0002 59.0031C52.5854 59.0031 49.4261 57.4357 47.3534 54.8049C46.8834 54.2084 46.9859 53.3439 47.5824 52.8739C48.1789 52.4039 49.0435 52.5065 49.5134 53.103ZM50.5011 42.0431C51.766 42.0431 52.7914 43.0685 52.7914 44.3334C52.7914 45.5984 51.766 46.6238 50.5011 46.6238C49.2361 46.6238 48.2107 45.5984 48.2107 44.3334C48.2107 43.0685 49.2361 42.0431 50.5011 42.0431ZM61.5011 42.0431C62.766 42.0431 63.7914 43.0685 63.7914 44.3334C63.7914 45.5984 62.766 46.6238 61.5011 46.6238C60.2361 46.6238 59.2107 45.5984 59.2107 44.3334C59.2107 43.0685 60.2361 42.0431 61.5011 42.0431Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_ddd' x='0' y='0' width='112' height='112' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='8'/%3E%3CfeGaussianBlur stdDeviation='12'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0562384 0 0 0 0 0.121895 0 0 0 0 0.209437 0 0 0 0.08 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='6'/%3E%3CfeGaussianBlur stdDeviation='6'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.0562384 0 0 0 0 0.121895 0 0 0 0 0.209437 0 0 0 0.12 0'/%3E%3CfeBlend mode='normal' in2='effect1_dropShadow' result='effect2_dropShadow'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='3'/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.920833 0 0 0 0 0.644445 0 0 0 0 0.31999 0 0 0 0.08 0'/%3E%3CfeBlend mode='normal' in2='effect2_dropShadow' result='effect3_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect3_dropShadow' result='shape'/%3E%3C/filter%3E%3ClinearGradient id='paint0_linear' x1='85.4737' y1='48' x2='29.4759' y2='48.3508' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23FF8F3E'/%3E%3Cstop offset='1' stop-color='%23FFB178'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      background-position: -23px -16px;
      padding: 22px 0 21px 79px;
      background-repeat: no-repeat;
    }
  }
}

@media screen and (max-width: 1200px) {
  .generalVideo {
    .reactPlayer {
      height: 330px;
    }
  }

}

@media screen and (max-width: 1024px) {
  .generalVideo {
    max-width: 950px;

    .reactPlayer {
      height: 536px;
    }

    .attachments {
      margin-bottom: 20px;

      .attachment {
        .attachmentSize {
          font-size: 14px !important;
          line-height: 120% !important;
          font-weight: 400 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .generalVideo {
    max-width: 768px;

    .reactPlayer {
      height: 440px;
    }

    .author {
      img {
        width: 70px;
        border-radius: 50%;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .generalVideo {
    max-width: 500px;

    .reactPlayer {
      height: 271px;
    }
  }
}

@media screen and (max-width: 500px) {
  .generalVideo {
    max-width: 500px;

    .reactPlayer {
      height: 211px;
    }

    .author {
      img {
        width: 50px;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .generalVideo {
    max-width: 375px;

    .reactPlayer {
      height: 198px;
    }
  }
}
