@import "../utils/utils";

.generalVideo{
  width: 100%;
  background: $light-blue;
  max-width: 754px;
  height: 482px;
  display: flex;
  justify-content: center;
  //align-items: center;
  position: relative;

  .controlsWrapper{
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    height: 406px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    color: #FFFFFF;
  }

}
