@import "../utils/utils";

.burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13.33px;
    width: 20px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    //margin: 2rem 1.6rem;
    div{
        width: 20px;
        height: 2px;
        background: $blue;
        transition: all ease 0.3s;
    }

    .open:nth-child(1){
        transform: rotate(45deg) translateY(8.5px);
    }
    .open:nth-child(2){
        opacity: 0;
    }
    .open:nth-child(3){
        transform: rotate(-45deg) translateY(-8.5px);
    }
    .close:nth-child(1){
        transform: rotate(0) translateY(0);
    }
    .close:nth-child(2){
        opacity: 1;
    }
    .close:nth-child(3){
        transform: rotate(0) translateY(0);
    }

}
.burger:focus, :hover, :active{
    outline: none;
    box-shadow: none;
}

