@import "../utils/utils";

.bottomCards {
  max-width: 856px;
  margin: auto;
}

.addon-card-wrapper {
  width: 428px;
  display: flex;
  justify-content: center;
}

.wrapperForScrollableBlock {
  display: flex;

  & :last-child :first-child {
    margin-right: 0;
  }
}

.arrows {
  cursor: pointer;
  position: relative;
}

.addonCardFromScroll {
  //width: 428px;
  display: flex;
  justify-content: center;
  margin-right: 90px;
}

.addon-arrow-prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Crect x='-0.5' y='0.5' width='39' height='39' transform='matrix(-1 0 0 1 39 0)' fill='white' stroke='%23E3E3E3'/%3E%3Cpath d='M23.203 15.0177L18.623 19.5977L23.203 24.1877L21.793 25.5977L15.793 19.5977L21.793 13.5977L23.203 15.0177Z' fill='%23E3E3E3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 126px;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Crect x='-0.5' y='0.5' width='39' height='39' transform='matrix(-1 0 0 1 39 0)' fill='white' stroke='%23383680'/%3E%3Cpath d='M23.203 15.0177L18.623 19.5977L23.203 24.1877L21.793 25.5977L15.793 19.5977L21.793 13.5977L23.203 15.0177Z' fill='%23383680'/%3E%3C/svg%3E");
  }
}

.addon-arrow-next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Crect x='0.5' y='0.5' width='39' height='39' fill='white' stroke='%23E3E3E3'/%3E%3Cpath d='M16.797 15.0177L21.377 19.5977L16.797 24.1877L18.207 25.5977L24.207 19.5977L18.207 13.5977L16.797 15.0177Z' fill='%23E3E3E3'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: 126px;

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Crect x='0.5' y='0.5' width='39' height='39' fill='white' stroke='%23383680'/%3E%3Cpath d='M16.797 15.0177L21.377 19.5977L16.797 24.1877L18.207 25.5977L24.207 19.5977L18.207 13.5977L16.797 15.0177Z' fill='%23383680'/%3E%3C/svg%3E");
  }
}
