@import "../utils/utils";

.addonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 6% 0;
  //background: $blue url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1440' height='293' viewBox='0 0 1440 293' fill='none'%3E%3Crect x='-1' y='-676' width='1442' height='1151' fill='%23F2F3F9'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='-1' y='0' width='993' height='390'%3E%3Crect x='-1' width='993' height='390' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Crect x='-68' y='-387' width='1136' height='980' fill='url(%23pattern0)'/%3E%3C/g%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-878 498.217L-808.935 964L2418 918.312V-177L-878 466.319' fill='%23383680'/%3E%3Cdefs%3E%3Cpattern id='pattern0' patternContentUnits='objectBoundingBox' width='1' height='1'%3E%3Cuse xlink:href='%23image0' transform='scale(0.000880282 0.00102041)'/%3E%3C/pattern%3E%3Cimage id='image0' width='1136' height='980'/%3E%3C/defs%3E%3C/svg%3E") no-repeat top center;
  background: $blue url("../../assets/images/you_may_also_like.svg") no-repeat top center;
  width: 100%;
  background-size: inherit;
  max-width: 4000px;
  margin: 0 auto;

  .addons-cont {
    @include bigScreen;
    display: grid;
    grid-template-columns: 1fr 788px 1fr;
    grid-column-gap: 68px;
  }
  .cardsContainer{
    display: grid;
    grid-template-columns: 360px 360px;
    grid-column-gap: 68px;
  }

  .left-btn {
    justify-self: flex-start;
    align-self: center;
  }

  .right-btn {
    justify-self: flex-end;
    align-self: center;
  }

  .alsoLikeTitle {
    font-weight: bold;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #fff;
    margin: 17% 0 20px 0;
  }

  .btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;

    &:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: none;
    }
  }
}
@media screen and (max-width: 1350px) {
  .addonBox{
    .addons-cont {
      @include screen1350;
      grid-column-gap: 36px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .addonBox{
    .addons-cont {
      @include screen1200;
      grid-column-gap: 36px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .addonBox{
    .addons-cont{
      grid-template-columns: 1fr 768px 1fr;
      .addonsCard{
        max-width: 350px;
      }
      .cardsContainer{
        display: grid;
        grid-template-columns: 350px 350px;
        //grid-column-gap: 30px;
      }
    }
    .alsoLikeTitle{
      font-size: 40px;
      line-height: 49px;
      letter-spacing: -0.2px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .addonBox{
    .addons-cont {
      @include screen1024;
      grid-template-columns: 1fr 350px 1fr;
      .cardsContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
      }
    }
  }
}
@media screen and (max-width: 880px) {
  .addonBox{
    .addons-cont {
      @include screen880;
    }
  }
}
@media screen and (max-width: 700px) {
  .addonBox{
    .addons-cont {
      @include screen768;
    }
  }
}
@media screen and (max-width: 570px) {
  .addonBox{
    .addons-cont{
      .btn {
        width: 10px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;

        &:hover {
          cursor: pointer;
          background: transparent;
          box-shadow: none;
        }
      }
      .left-btn, .right-btn {
        margin: 0 10px;
      }
    }
    .alsoLikeTitle{
      font-size: 28px;
      line-height: 34px;
      letter-spacing: -0.2px;
      margin: 30% 0 20px 0;
    }
  }
}
@media screen and (max-width: 500px) {
  .addonBox{
    .addons-cont {
      @include screen500;
      grid-template-columns: 1fr 350px 1fr;
      grid-column-gap: 0;
    }
  }
}
@media screen and (max-width: 415px) {
  .addonBox{
    .addons-cont {
      @include screen400;
      grid-template-columns: 1fr 350px 1fr;
      .addonsCard{
        max-width: 350px;
        .cardSubTitle{
          top: 14rem;
        }
      }
    }
  }
}
