@import "../../scss/utils/utils";

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 2000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  .modalContent {
    padding: 30px;
    background-color: #f8f9fb;
    transform: scale(0.5);
    transition: 0.4s all;
    width: 70vw;
    font-family: Montserrat;
    color: $education-text-color;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    h5{
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      color: $blue-black;
    }
  }
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  display: none;
}

.mobileModalTitle {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}



p {
  text-align: left;
}

.modalContent.active {
  transform: scale(1);
}

.agreeButton {
  outline: none;
  border: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 24px;
  right: 15px;
  font-weight: bold;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  background-color: #f8f9fb;
  box-shadow: none;

  &:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.boldText {
  line-height: 130%;
  color: $blue-black;
}

@media only screen and (max-width: 768px) {

  .modal.active {
    display: flex;
    opacity: 1;
    pointer-events: all;
  }
}

@media only screen and (max-width: 500px) {
.modal{
  .modalContent{
    width: 95vw;
  }
}
}
