@import "../utils/utils";

.privacyContainer{
  border-radius: 4px;
  padding: 2rem 9rem;
  color: $card-text-color;
  text-align: justify;
}

.termsContainer{
  border-radius: 4px;
  padding: 2rem 9rem;
  color: $card-text-color;
  text-align: justify;
}

@media screen and (max-width: 1600px) {
  .privacyContainer, .termsContainer {
    padding: 2rem 150px;
  }
}
@media screen and (max-width: 1350px) {
  .privacyContainer, .termsContainer {
    padding: 2rem 100px;
  }
}
@media screen and (max-width: 1024px) {
  .privacyContainer, .termsContainer {
    padding: 2rem 70px;
  }
}
@media screen and (max-width: 768px) {
  .privacyContainer, .termsContainer {
    padding: 2rem 35px;
  }
}
@media screen and (max-width: 415px) {
  .privacyContainer, .termsContainer {
    padding: 2rem 35px;
  }
}

