@import "../utils/utils";

.privacyContainer, .termsContainer{
  border-radius: 4px;
  @include bigScreen;
  color: $card-text-color;
  text-align: justify;
}

@media screen and (max-width: 1350px) {
  .privacyContainer, .termsContainer {
    @include screen1350;
  }
}
@media screen and (max-width: 1200px) {
  .privacyContainer, .termsContainer {
    @include screen1200;
  }
}
@media screen and (max-width: 1024px) {
  .privacyContainer, .termsContainer {
    @include screen1024;
  }
}
@media screen and (max-width: 880px) {
  .privacyContainer, .termsContainer {
    @include screen880;
  }
}
@media screen and (max-width: 768px) {
  .privacyContainer, .termsContainer {
    @include screen768;
  }
}
@media screen and (max-width: 500px) {
  .privacyContainer, .termsContainer {
    @include screen500;
  }
}
@media screen and (max-width: 400px) {
  .privacyContainer, .termsContainer {
    @include screen400;
  }
}

