@import "utils/utils";
* {
  font-family: Montserrat;
}
.generalWrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 109px;
}

.carousel-root .carousel .control-dots .dot {
  width: 14px;
  height: 14px;
}

.arrowTop {
  width: 60px;
  height: 40px;
}
.scrollTop {
  position: fixed;
  width: 60px;
  bottom: 20px;
  right: 50px;
  height: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: #6c6d6d;
  margin: 1rem;
}
.scrollTop:hover {
  opacity: 1;
}
.cookieContainer {
  background-color: #ffffff !important;
  color: #61626a !important;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  position: relative;
  z-index: 20000!important;

  p {
    text-align: center;
    margin: 10px;
    z-index: 20000 !important;
  }
  a {
    text-decoration: none !important;
    &:hover {
      text-decoration: underline !important;
    }
  }
}
.cookieContent {
  flex: 0 1 10px !important;
  padding: 0;
}
.buttons {
  text-align: center;
  margin-top: -24px;
  margin-bottom: 5px;
}
.acceptButton {
  width: 100px;
  height: 35px;
  background: linear-gradient(269.64deg, #FF8F3E 4.23%, #FFB178 91.19%) !important;
  box-shadow: 0 3px 6px rgba(235, 164, 82, 0.08), 0 6px 12px rgba(14, 31, 53, 0.12), 0 14px 24px rgba(14, 31, 53, 0.08)!important;
  color: #ffffff !important;
  font-weight: 700;
  transition: all 0.3s;
  font-size: 14px !important;
  line-height: 17px !important;
  letter-spacing: 0.4px !important;
  border-radius: 5px !important;
  &:hover {
    background: linear-gradient(269.64deg, $orange 4.23%, $orange 91.19%) !important;
  }
}
.declineButton {
  display: none;
}
@media screen and (max-width: 1700px) {
  .cookieContainer {
    padding: 0 255px;
  }
}
@media screen and (max-width: 1500px) {
  .cookieContainer {
    padding: 0 160px;
  }
}
@media screen and (max-width: 1350px) {
  .cookieContainer {
    padding: 0 126px;
  }
}
@media screen and (max-width: 1024px) {
  .cookieContainer {
    padding: 0 113px;
  }
}
@media screen and (max-width: 1000px) {
  .generalWrapper {
   margin-top: 83px;
  }
}
@media screen and (max-width: 880px) {
  .cookieContainer {
    padding: 0 78px;
  }
}
@media screen and (max-width: 812px){
  .generalWrapper {
    margin-top: 61px;
  }
}
@media only screen and (max-width: 768px) {
  .cookieContainer {
    padding: 0 51px;
  }
  .mobileNotification {
    display: block;
  }
  .generalWrapper {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 600px) {
  .cookieContainer {
    padding: 0 20px;
  }
  .mobileNotification {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .cookieContainer {
    padding: 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .cookieContainer {
    padding: 0 48px;
  }
}
@media screen and (max-width: 375px) {
  .cookieContainer {
    padding: 0 22px;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@media print {
  .scrollTop{
    visibility: hidden;
  }
  html, body{
    margin: 5px;
  }
}
