@import "utils/utils";
.arrowTop {
  width: 60px;
  height: 40px;
}

.scrollTop {
  position: fixed;
  width: 60px;
  bottom: 20px;
  right: 50px;
  height: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: #6c6d6d;
  margin: 1rem;
}

.scrollTop:hover {
  opacity: 1;
}
.cookieContainer{
  background-color: #ffffff !important;
  color: #61626A !important;
  border-top: 1px solid #dee2e6;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  padding: 1rem 22rem;
}
.cookieContent{
  flex: 0 1 10px !important;
  padding: 0;
}
.buttons{
  display: flex;
  align-self: flex-end;
  padding-right: 3rem;
}

.acceptButton{
  width: 100px;
  height: 35px;
  background-color: $orange !important;
  color: #ffffff !important;
  font-family: Montserrat;
  transition: all 0.3s;
  &:hover {
    -webkit-box-shadow: 6px 9px 5px 0px rgba(237, 110, 42, 0.38) !important;
    -moz-box-shadow: 6px 9px 5px 0px rgba(237, 110, 42, 0.38) !important;
    box-shadow: 6px 9px 5px 0px rgba(237, 110, 42, 0.38) !important;
  }
}
.declineButton{
  width: 100px;
  height: 35px;
  background-color: #ffffff !important;
  border: 2px solid $orange !important;
  color: $orange !important;
  transition: all 0.3s;
  &:hover {
    -webkit-box-shadow: 6px 9px 5px 0px rgba(237, 110, 42, 0.38) !important;
    -moz-box-shadow: 6px 9px 5px 0px rgba(237, 110, 42, 0.38) !important;
    box-shadow: 6px 9px 5px 0px rgba(237, 110, 42, 0.38) !important;
  }
}
@media screen and (max-width: 1700px){
  .cookieContainer{
    padding: 0 255px;
  }
}
@media screen and (max-width: 1500px){
  .cookieContainer{
    padding: 0 160px;
  }
}
@media screen and (max-width: 1350px){
  .cookieContainer{
    padding: 0 126px;
  }
}
@media screen and (max-width: 1024px){
  .cookieContainer{
    padding: 0 113px;
  }
}
@media screen and (max-width: 880px){
  .cookieContainer{
    padding: 0 78px;
  }
}
@media only screen and (max-width: 768px) {
  .cookieContainer{
    padding: 0 51px;
  }
  .mobileNotification{
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .cookieContainer{
    padding: 0 20px;
  }
  .mobileNotification{
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  .cookieContainer{
    padding: 0 20px;
  }
}
@media screen and (max-width: 500px){
  .cookieContainer{
    padding: 0 48px;
  }
}
@media screen and (max-width: 375px){
  .cookieContainer{
    padding: 0 22px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
