@import "utils/utils";

.fullWidthWrapperFooter {
  background-color: #f2f3f9;
  border-top: 1px solid #dee2e6;
  color: #979797;
}

.footerCopyrightWrapper {
  border-top: 1px solid #dee2e6;
}

.phantom {
  display: block;
  width: 100%;

  @include bigScreen;

  a {
    color: #5f5d5d;

  }

  ul {
    padding: 0 2px;
  }

  ul li {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
    width: 120px;

    &:hover {
      opacity: 1;
      transform: translateX(2px);
    }
  }

  .footerContainer {
    border-radius: 4px;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-gap: 30px;


    .leftSide {
      display: flex;
      flex-direction: column;
      margin: 2em 0;

      .footerLogo {
        width: 70px;
        padding-left: 1px;

        img {
          padding-left: 1px;
          width: 150px;
        }
      }

      .iconsBar {
        ul .iconsItem {
          display: inline;
          margin-right: 1em;
        }

        img {
          width: 11%;
        }
      }
    }

    .rightSide {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      //margin-right: 0;
      justify-content: center;
      align-content: start;

      h3 {
        transition: all 0.25s linear;
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
      }

      .quickLinks {
        .quickLinkItem {
          font-weight: 500;
          font-size: 16px;
          line-height: 36px;
        }
      }

      .contactUs li {
        margin: 21px 0;
      }

      .partnersContainer {
        display: flex;
        flex-direction: column;

        .partnerIcon {
          margin-top: 1em;
          width: 30px;
        }
      }

      img:hover {
        -webkit-filter: blur(0.6px); /* Chrome, Safari, Opera */
        filter: blur(0.6px);
      }


    }
  }

}

.footerCopyrightInfo {
  display: flex;
  justify-content: space-between;
  @include bigScreen;
  align-items: center;

  .copyrightTitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .copyrightLinks {

    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      transition: all 0.3s ease-in-out;
      margin-left: 1em;
      color: $card-text-color;

      &:hover {
        color: $orange;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: column;
    //padding: 0 20px;
  }
}

//Responsive design

//iPad PRO and top Android tablets: up to 1024×1366
@media screen and (max-width: 1350px) {
  .phantom, .footerCopyrightInfo {
    @include screen1350;
  }

}

@media screen and (max-width: 1200px) {
  .phantom, .footerCopyrightInfo{
    @include screen1200;
  }
}

@media screen and (max-width: 1024px) {
  .phantom, .footerCopyrightInfo {
    @include screen1024;
  }
}

@media only screen and (max-width: 880px) {
  .phantom, .footerCopyrightInfo {
    @include screen880;
  }
}

// Medium devices (landscape tablets, 768px and up)
@media only screen and (max-width: 768px) {
  .phantom {
    @include screen768;
    .footerContainer{
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0;
      .leftSide{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        ul{
          li {
            font-size: 14px;
          }
        }
        .partnersContainer{
          display: flex;
          flex-direction: column;
          align-items: center;
          .partnerIcon{
            margin: 0 1em;
            width: 100%;
          }
        }
        .iconsBar {
          img {
            width: 14%;
          }
        }
      }
      .rightSide{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 8vw;
        .quickLinks{
          .quickLinkItem{
            font-size: 14px;
            line-height: 31px;
          }
        }
      }
    }
  }

  img {
    max-width: 100px;
  }

  .footerCopyrightInfo {
    @include screen768;

    .copyrightLinks {
      padding-bottom: 1em;
    }
  }
}

@media only screen and (max-width: 700px) {
  .phantom {
    @include screen768;
  }
}

//Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {

  .phantom {
    text-align: center;
    @include screen500;
    ul{
      li{
        width: 193px;
      }
    }
    .footerContainer {
      .leftSide{
        flex-direction: column;
        margin: 2em 0 0;
      }
      .rightSide {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        .partnersContainer{
          margin-left: 23%;
        }
        h3 {
          font-size: 15px;
        }
      }
    }
  }
  .footerCopyrightInfo {
    @include screen500;
    .copyrightLinks {
      a {
        font-size: 13px;
      }
    }
  }

}


@media only screen and (max-width: 500px) {
  .phantomб .footerCopyrightInfo {
    @include screen500;
  }
}

@media only screen and (max-width: 415px) {
  .phantomб .footerCopyrightInfo {
    @include screen400;
  }

  .iconsBar {
    margin-left: 2rem;
  }
  .phantom .footerContainer .leftSide .iconsBar img {
    width: 16%;
  }
  .partnerIcon {
    margin-bottom: 1rem;
  }

}
